body {
	margin:0px;
	height:100%;
}

a {
	text-decoration:none;
}

.hero {
	width:100%;
	background-image:url('/assets/glasses-v15.png');
	background-attachment:fixed;
	background-size:400px 400px;
	background-position:center bottom;
}

.hero h1 {
	color:#FFAE53;
	font-family:'fugaz one', sans-serif;
	margin:0px;
	font-size:5em;
}

.hero h1:first-child {
	padding:80px 0px 0px 5%;
}

.hero h1:nth-child(2) {
	padding:0px 0px 85px 5%;
}

.navmobile {
	display:none;
}

.nav {
	width:100%;
}

.link {
	width:20%;
	display:inline-block;
	float:left;
	font-size:0.8em;
	font-family:'lato', sans-serif;
	font-weight:700;
	text-transform: uppercase;
	color:#ffffff;
	text-align:center;
	padding:5px 0px 5px 0px;
	-o-transition:.1s;
  		-ms-transition:.1s;
  		-moz-transition:.1s;
  		-webkit-transition:.1s;
		transition:.1s;
}

.link:hover {
	cursor:pointer;
	padding:7px 0px 7px 0px;
		-o-transition:.1s;
  		-ms-transition:.1s;
  		-moz-transition:.1s;
  		-webkit-transition:.1s;
		transition:.1s;
}

.active {
	cursor:pointer;
	padding:7px 0px 7px 0px;
}

.active:first-child {
	cursor:pointer;
	padding:5px 0px 5px 0px;
}

.active:first-child:hover {
	cursor:pointer;
	padding:7px 0px 7px 0px;
}

.active:hover {
	cursor:pointer;
	padding:8px 0px 8px 0px;
	-o-transition:.1s;
  		-ms-transition:.1s;
  		-moz-transition:.1s;
  		-webkit-transition:.1s;
		transition:.1s;
}

.link:first-child {
	background-color:#FF5947;
}

.link:nth-child(2) {
	background-color:#FFAE53;
}

.link:nth-child(3) {
	background-color:#6AB084;
}

.link:nth-child(4) {
	background-color:#008586;
}

.link:nth-child(5) {
	background-color:#0E2F3F;
}

.fixed {
    position: fixed; 
    top: 0; 
    z-index: 1;
}

.footer, .replacenav {
	width:100%;
}

.replacenav {
	display:none;
}

.footer div, .replacenav div {
	width:20%;
	display:inline-block;
	float:left;
	font-size:0.8em;
	font-family:'lato', sans-serif;
	font-weight:700;
	text-transform: uppercase;
	color:#ffffff;
	text-align:center;
	padding:5px 0px 0px 0px;
}

.footer div:first-child, .replacenav div:first-child {
	background-color:#FF5947;
}

.footer div:nth-child(2), .replacenav div:nth-child(2) {
	background-color:#FFAE53;
}

.footer div:nth-child(3), .replacenav div:nth-child(3) {
	background-color:#6AB084;
}

.footer div:nth-child(4), .replacenav div:nth-child(4) {
	background-color:#008586;
}

.footer div:nth-child(5), .replacenav div:nth-child(5) {
	background-color:#0E2F3F;
}

.main {
	width:100%;
	background-color:#F7F7F7;
	margin:0px;
}

.content {
	width:100%;
	max-width:1280px;
	margin:0 auto;
}

.portfolio {
	width:100%;
	margin-top:50px;
}

.portfolio-table {
	width:60%;
	margin:0 auto;
	text-align:center;
	padding:0px;
}

#i-large {
	width:100%;
	margin:7px 0px;
}

#i-small {
	width:100%;
	text-align:center;
	margin:7px 0px;
}

#i-small div:first-child {
	width:48.5%;
	margin-right:2%;
	display:inline-block;
}

#i-small div:nth-child(2) {
	width:48.5%;
	display:inline-block;
}

.image {
	background-image:url('/assets/bg-glasses-v2.png');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:0px;
	display:inline-block;
	-o-transition:.4s;
  	-ms-transition:.4s;
  	-moz-transition:.4s;
  	-webkit-transition:.4s;
	transition:.4s;
}

.image:hover {
	background-size:100px;
	-o-transition:.4s;
  	-ms-transition:.4s;
  	-moz-transition:.4s;
  	-webkit-transition:.4s;
	transition:.4s;
}

.image img {
	width:100%;
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
	transition:.3s;
}

.image img:hover {
	opacity:0.2;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  	-webkit-transition:.3s;
	transition:.3s;
	cursor:pointer;
}

.text p:first-child {
	font-family: 'Droid Serif', serif;
	font-weight:400;
	font-style: italic;
	font-size:1.3em;
	width:60%;
	color:#666;
	margin:0 auto;
	padding-top:90px;
}

.text p:nth-child(2) {
	padding:25px 0px 0px 0px;
}

.text p {
	width:60%;
	margin:0 auto;
	padding:15px 0px 0px 0px;
}

.resume-container {
	width:60%;
	margin:0 auto;
	margin-top:40px;
	padding:0px 0px 0px 0px;
	text-align:center;
}

.resume {
	width:29%;
	display:inline-block;
	margin:0 auto;
	text-align:left;
}

.resume:first-child {
	padding:0px;
}

.resume {
	padding:0px 0px 0px 5%;
	vertical-align:top;
}

h3 {
	font-family:'lato', sans-serif;
	font-weight:700;
	font-size:1em;
	text-transform: uppercase;
	margin:0px;
	color:#666;

}

h4 {
	font-family:'lato', sans-serif;
	font-weight:700;
	font-size:0.6em;
	text-transform: uppercase;
	letter-spacing:0.5px;
	margin:0px 0px 3px 0px;
	padding:0px 0px 2px 0px;
	border-bottom:1px solid #E8E8E8;
	color:#666;
}

h5 {
	font-family:'lato', sans-serif;
	font-weight:700;
	font-size:0.6em;
	letter-spacing:0.5px;
	color:#999;
	margin:0px 0px 15px 0px;
}

.resume p {
	margin-top:0px;
	font-size:0.8em;
	line-height:1.4em;
}

.reachout {
	text-align:center;
}


.footer-text {
	margin-top:200px;
	padding:30px 0px 25px 0px;
	background-image:url('/assets/subtlepatternsdotcom.png');
	background-attachment:fixed;
	background-color:#F7F7F7;
	border-top:1px solid #E6E6E6;
	opacity:0.3%;
	text-align:center;
}

p {
	font-family:'lato', arial, sans-serif;
	font-size:0.90em;
	font-weight:400;
	line-height:1.6em;
	color:#666;
}

p a {
	font-family:'lato', arial, sans-serif;
	font-weight:400;
	color:#666;
	text-decoration:underline;
}

p a:hover {
	text-decoration:none;
}

.konami {
	height:1000px;
	width:100%;
	background-image:url('http://www.artinaid.com/wp-content/uploads/2013/02/Galaxia-y-Espacio-Exterior.jpg');
	background-attachment: fixed;
	display:none;
}

ul {
	margin:0px;
}

.scene {
  margin: 0 auto;
  padding: 0;
}

.shadowbox {
	width:100%;
	height:100%;
	background-color:#999999;
	opacity:0.6;
	position:fixed;
	z-index:100;
	display:none;
}

.shadowbox2, .shadowbox3, .shadowbox4, .shadowbox5, .shadowbox6, .shadowbox7,
.shadowbox8, .shadowbox9, .shadowbox10, .shadowbox11, .shadowbox12, .shadowbox13,
.shadowbox14, .shadowbox15, .shadowbox16, .shadowbox17, .shadowbox18 {
	position:fixed;
	z-index:101;
	background-color:#F7F7F7;
	color:#666;
	display:none;
	margin:0 auto;
	top:0;
	height:95%;
	width:100%;
	box-shadow: 0px 2px 2px #666666;
	overflow:auto;
	text-align:center;
}

.close-it {
	text-align: left;
	position: fixed;
	top: 0px;
	color:#666;
	font-size:20pt;
	display:block;
	margin-left:20px;
	margin-top:20px;
	width:30px;
	cursor:pointer;
}

.close-it img {
	width:100%;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.close-it img:hover {
	-webkit-transform:rotate(405deg);
    -moz-transform:rotate(405deg);
    -o-transform:rotate(405deg);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.sb-container {
	width:60%;
	max-width:800px;
	padding:3% 0px;
	margin:0 auto;
	text-align:left;
}

.sb-container a img {
	opacity:1;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.sb-container a img:hover {
	opacity:0.8;
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.sb-container h3 {
	margin-top:15px;
}

.sb-container img {
	width:100%;
}

.shadowbox15 img {
	width:100%;
	max-width:400px;
}

@media (max-width:930px) {
	.resume {
		width:90%;
		display:block;
		margin:0 auto;
		text-align:left;
}

	.resume {
		padding:25px 0px 0px 0px;
}
}

@media (max-width:790px) {
	ul img {
		width:80%;
	}

	.nav {
		display:none;
	}

	.navmobile {
		width:100%;
		display:block;
		position:fixed;
		margin:0px;
		z-index:5;
		background-color:#ffffff;
}

	.navmobile a {
		display:block;
	}

	#drop {
		display:none;
}

	#dropbutton{
		width:100%;
		background-color:#E3E3E3;
		background-image:url('/assets/menu-bg.png');
		background-size:100%;
		float:left;
		font-size:0.8em;
		font-family:'lato', sans-serif;
		font-weight:900;
		text-transform: uppercase;
		color:#ffffff;
		text-align:center;
		padding:2px 0px 2px 0px;

}


	.dropped {
		background-color:#0E2F3F!important;
		background-image:none!important;
		padding:5px 0px 5px 0px!important;
}

	#dropbutton:hover{
		background-color:#EBEBEB;
		opacity:0.9;
		cursor:pointer;
			-o-transition:.2s;
  			-ms-transition:.2s;
  			-moz-transition:.2s;
  			-webkit-transition:.2s;
  			transition:.2s;
	}

	.arrow {
		width:25px;
	}

	.arrow-flipped {
		transform: rotate(180deg);
  		-ms-transform: rotate(180deg); /* IE 9 */
  		-moz-transform: rotate(180deg); /* Firefox */
 		-webkit-transform: rotate(180deg); /* Safari and Chrome */
  		-o-transform: rotate(180deg); /* Opera */
	}

	#drop a {
		width:100%;
		display:block;
		float:left;
		font-size:0.8em;
		font-family:'lato', sans-serif;
		font-weight:700;
		text-transform: uppercase;
		color:#ffffff;
		text-align:center;
		padding:7px 0px 7px 0px;
		margin:0px;
}

	#drop a:hover {
		cursor:pointer;
		opacity:0.85;
			-o-transition:.2s;
  			-ms-transition:.2s;
  			-moz-transition:.2s;
  			-webkit-transition:.2s;
  			transition:.2s;

}

	.navmobile a:first-child {
		background-color:#FF5947;
		 margin:0px;
}

	.navmobile a:nth-child(2) {
		background-color:#FFAE53;
}

	.navmobile a:nth-child(3) {
		background-color:#6AB084;
}

	.navmobile a:nth-child(4) {
		background-color:#008586;
}

	.replacenav {
		display:block;
}


	.hero h1 {
		font-size:4em;
}

	.hero h1:first-child {
		padding:80px 0px 0px 5%;
}

	.hero h1:nth-child(2) {
		padding:0px 0px 70px 5%;
		margin-top:-15px;
}

	.portfolio-table {
		padding-top:40px;
		width:80%;
}

	.portfolio-table div {
		width:45%;
		display:inline-block;
}

	.text p:first-child {
		width:80%;
		padding-top:70px;
}

	.text p {
		width:80%;
}

	.resume-container {
		width:78%;
}

.shadowbox2, .shadowbox3, .shadowbox4, .shadowbox5, .shadowbox6, .shadowbox7,
.shadowbox8, .shadowbox9, .shadowbox10, .shadowbox11, .shadowbox12, .shadowbox13,
.shadowbox14, .shadowbox15, .shadowbox16, .shadowbox17, .shadowbox18 {
	height:90%;
}

}


@media (max-width:660px) {
		.hero h1 {
		font-size:3em;
}

	.hero h1:first-child {
		padding:100px 2% 0px 5%;
}

	.hero h1:nth-child(2) {
		padding:0px 2% 90px 5%;
		margin-top:-10px;
}

	.content {
		width:85%;
}
	
		.resume-container {
		width:83%;
}

	.portfolio {
		width:100%;
		margin-top:0px;
}

	.portfolio-table {
		width:100%;
}

	.portfolio-table div {
		width:45%;
		display:inline-block;
}

	.text p:first-child {
		font-size:1.1em;
		width:100%;
		padding-top:60px;
}

	.text p {
		width:100%;
}

	#i-large {
		margin:4px 0px;
}

	#i-small {
		margin:4px 0px;
}

	.footer-text {
		margin-top:100px;
}

.close-it {
	margin-left:10px;
	margin-top:10px;
	width:20px;
}

.sb-container {
	width:80%;
}


}

@media (max-width:500px) {

	.hero {
		background-size:300px 300px;
}

	.hero h1 {
		font-size:2.2em;
}

	.hero h1:first-child {
		padding:70px 2% 0px 5%;
}

	.hero h1:nth-child(2) {
		padding:0px 2% 50px 5%;
}

	.content {
		width:90%;
}

	.resume-container {
		width:88%;
}

	.portfolio-table {
		padding-top:40px;
}

	.portfolio-table div {
		width:100%;
		display:inline-block;
}

	.text p:first-child {
		font-size:0.9em;
		padding-top:40px;
}

	#i-small div:first-child {
		width:48%;
		margin-right:2%;
		display:inline-block;
}

	#i-small div:nth-child(2) {
		width:48%;
		display:inline-block;
}

	.image img:hover {
		opacity:1;
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		filter: grayscale(0%);

}

	.footer-text {
			margin-top:50px;
}
	.sb-container {
		width:95%;
		padding-top:60px;
}
}

@media (max-width:300px) {
	.hero h1 {
		font-size:2.1em;
}

	.hero h1:first-child {
		padding:70px 2% 0px 5%;
}

	.hero h1:nth-child(2) {
		padding:0px 2% 50px 5%;
}
	.content {
		width:95%;
}

	.resume-container {
		width:95%;
}
}