body
{ 
background-image:url('http://farm4.staticflickr.com/3807/11257786303_b4ed2a6706_h.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center; 
}

.nav {
    background-color:#000000;
    text-align:center;
    position:fixed;
    width:100%;
    z-index:10px;
    top:0px;
    left:0px;
    }

.nav a {
    color:#ffffff;
    text-decoration:none;
    font-family:tahoma;
    padding:20px
    }

.nav a:hover {
    color:#ffffff;
    text-decoration:none;
    font-family:tahoma;
    padding:20px
    }
    
 .nav a:visited {
    color:#ffffff;
    text-decoration:none;
    font-family:tahoma;
    padding:20px
    }

.navlinks {
    display:inline-block;
    padding:13px;
    }

.navlinks:hover {
    background-color:#404040;
    }

.buffer {
    padding-top:200px;
    padding-bottom:450px;
    display:block;
    text-align:center;
    width:100%;
    }
    
.buffer1 {
   font-family:Tahoma;
    font-size:90px;
    }
    
.buffer2 {
   font-family:Tahoma;
   font-size:20px;
    }

.main {
    background-color:#ffffff;
    text-align:center;
    width:100%;
    min-height:100%;
    left:0px;
    right:0px;
    bottom:0px;
    }

.sectionhead {
    text-align:center;
    font-family:Tahoma;
    font-size:30px;
    }
    
.sectionbody {
    text-align:center;
    font-family:Tahoma;
    font-size:15px;
    }

.table {
  min-height:100%;
  display:block;
}

.table1 {
  margin:5px;
  vertical-align:top;
  display:inline-block;
  }
  
.table2 {
  margin:5px;
  vertical-align:top;
  display:inline-block;
  box-shadow: 2px 2px 2px 1px #999999;
  }

.table2:hover {
  margin:5px;
  vertical-align:top;
  display:inline-block;
  box-shadow: 2px 2px 2px 1px #5E5E5E;
  }

.table3 {
   margin:5px;
   vertical-align:top;
   display:inline-block;
  width:230px;
  padding:10px;
  }

a.inlink:link {
  font-family:Tahoma;
  color:#A3A3A3;
  font-size:15px;
  	text-decoration:none;
	}
  
a.inlink:visited {
  font-family:Tahoma;
  color:#707070;
  font-size:15px;
  text-decoration:none;
	}
  
a.inlink:hover {
  font-family:Tahoma;
  color:#000000;
	font-size:15px;
  text-decoration:none;
	}

a {
   font-family:Tahoma;
  color:#A3A3A3;
  font-size:15px;
  text-decoration:none;
}

a:visited {
    font-family:Tahoma;
  color:#707070;
  font-size:15px;
  text-decoration:none;
}

a:hover {
   font-family:Tahoma;
  color:#000000;
  font-size:15px;
  text-decoration:none;}

.leaderhead {
    text-align:center;
    font-family:Tahoma;
    font-size:20px;
	}

p  {
	text-align:left;
	font-family:Tahoma;
	font-size:15px;
}

h1 {
	text-align:center;
	font-family:Tahoma;
	font-size:30px;
	line-height:10px;
	}
	
