html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

body {
	font-family:'archivo', sans  serif;
	overflow: hidden;
}

.container {
	display: block;
	margin: 0px;
	padding: 0px;
	max-height: 100vh;
}

.background {
	width: 100%;
	height: 100vh;
	display: block;
	background-image: url('dotbg.png');
	background-repeat: repeat;
	opacity: 0.2;
	z-index: 0;
}

.red {
  color: #E70020
}


.moveable {
	cursor: grab!important;
}

.moveable:active {
	cursor: grabbing!important;
}

.name {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom:0px;
	left:0px;
	width: 100%;
	z-index: 1!important;
	background-color: transparent;
}

.adam {
	display: inline-block;
	position: absolute;
	top: 8%;
	left: 40px;
	width: 25%;
	height: 5px;
	z-index: 1!important;
}

.adam:active {
	cursor: grabbing
}

.last-name {
	display:block;
	position: absolute;
	width: 68%;
	top: calc(8% + 7vw);
	left: 40px;
}

.baum {
	display: inline-block;
	position: relative;
	width: 35%;
	height: 5px;
	z-index: 1!important;
}

.gart {
	display: inline-block;
	position: relative;
	width: 34%;
	height: 5px;
	z-index: 1!important;
}


.ner {
	display: inline-block;
	position: relative;
	width: 25%;
	height: 5px;
	z-index: 1!important;
}

.designer {
	display: inline-block;
	position: absolute;
	top: 10%;
	left: calc(21% + 40px);
	width: 9%;
	height: 5px;
	z-index: 1!important;
}

.actions {
	display: block;
	position: absolute;
	left: 40px;
	bottom: 33px;
	width: calc(100% - 40px);
	z-index: 2!important;
	background-color: transparent;
	color: #E70020;
}

.what {
	display: inline-block;
	margin: 8px;
	padding:0px;
	font-size: 20px;
	padding-bottom: 7px;
}

.what:hover {
    animation: hover 2s infinite;
  	animation-timing-function: linear;
}

.what:focus{
   outline: 0;
   padding: 6px;
   margin: 0px;
   border: 2px dotted #E70020;
   border-radius: 10px;
}

.squiggle:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 0.5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23E70020' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0px 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

/*.actions-two {
	margin-left: 20px!important;
}*/

.image {
	position: absolute;
	display: block;
	z-index: 5;
	margin: 4px;
	border-radius: 20px;
	overflow: hidden;
}

.image:hover {
}

.image:focus {
	outline: 0;
	border: 4px solid #E70020 !important;
	margin:0 !important;
}


.image img {
	width: 100%;
	display: block;
	transition: 0.2s;
}

.image img:hover {
	width: 100%;
	border-radius: 20px;
	transform: scale(1.03);
}

.image:hover:before {
    content: ' ';
    position: absolute;
    display: block;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: url('eye.gif');
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.i1 {
	top: 48%;
	left: 22%;
	transform: scale(0.9);
	transform: rotate(-4deg);
	width: 23%;
}

.i2 {
	top: 38%;
	left: 37%;
	transform: scale(0.9);
	transform: rotate(2deg);
	width: 32%;
}

.i3 {
	top: 46%;
	right: 10%;
	transform: scale(0.8);
	transform: rotate(7deg);
	width: 25%;
}

.rotate {
	transform-origin: center!important;
	animation: rotation 20s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
 }

/*  @keyframes hover {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  5% {
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
  }
  10% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  15% {
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
  }
  20% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
  }
  30% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  35% {
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
  }
  40% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  45% {
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  55% {
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
  }
  60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
} */

@media (min-width: 401px) and (max-width: 850px) {
	.last-name {
		display:block;
		position: absolute;
		top: calc(11% + 9.5vw);
		left: 40px;
		width: 50%;
	}

	.designer {
		width: 23%;
		left: calc(38% + 40px);
		top: 5%;
	}

	.baum, .gart, .ner, .adam {
		display: block;
	}

	.adam {
		width: 50%;
		height:16vw;
	}

	.baum {
		width: 100%;
		height:12vw;
	}

	.gart {
		width: 96%;
		height: 12vw;
		margin-top:0%;
	}

	.ner {
		width: 71%;
		height: 12vw;
		margin-top:2px;
	}

	.i1 {
		top: 35%;
		width: 38%;
		left: 56%;
		z-index: 6;
	}

	.i2 {
		top: 57%;
		width: 43%;
		left: 45%;
		z-index: 7;
	}

	.i3 {
		top: 60%;
		width: 30%;
		left: 23%;
	}
}

@media (max-width: 500px) {
	.last-name {
		display:block;
		position: absolute;
		top: calc(12% + 10vw);
		left: 40px;
		width: 60%;
	}

	.designer {
		width: 23%;
		left: calc(38% + 40px);
		top: 5%;
	}

	.baum, .gart, .ner, .adam {
		display: block;
	}

	.adam {
		width: 60%;
		height:17vw;
	}

	.baum {
		width: 100%;
		height:17vw;
	}

	.gart {
		width: 96%;
		height: 17vw;
		margin-top:0%;
	}

	.ner {
		width: 71%;
		height: 17vw;
		margin-top:2px;
	}

	.i1 {
		top: 47%;
		width: 43%;
		left: 30%;
		z-index: 6;
	}

	.i2 {
		top: 59%;
		width: 47%;
		left: 44%;
		z-index: 7;
	}

	.i3 {
		top: 60%;
		width: 45%;
		left: 7%;
	}
}