html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

body {
	font-family:'lato', sans-serif;
}

.gone {
	opacity: 0;
}

.container {
	width: 100%;
	height: 100%;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	background-image:('assets/topography.png');
	overflow: none;
}

.surfer {
	background-image:url('assets/surfer.png');
	background-size: cover;
	background-position: center;
}

.people {
	background-image:url('assets/people.png');
	background-size: cover;
	background-position: center;
}

.soup {
	background-image:url('assets/soup.png');
	background-size: cover;
	background-position: center;
}

.bike {
	background-image:url('assets/bike.jpg');
	background-size: cover;
	background-position: center;
}

.one, .two, .three, .four {
	width: 25%;
	height: 100vh;
	margin: 0;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	transition: 0.3;
}

.bio {
	background-color: #FF0023;
	color: #ffffff;
	font-family:'Archivo Black';
}

.masthead {
	width: 101%;
}

.preview {
	color: #FF0023;
	position: relative;
	cursor: default;

}

.pr-text {
	width: 70%;
	margin-top: 10px;
}

.pr-bug {
	font-family:'Archivo';
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.875em;
	letter-spacing: 3;
	margin-bottom: 3px;
}

.pr-title {
	font-family:'Archivo Black';
	text-transform: uppercase;
	font-size: 1.5em;
	line-height: 1em;
}

.pr-body {
	font-family:'Archivo';
	font-weight: 400;
	font-size: 1.125em;
	line-height: 1.1em;
	opacity: 0;
    max-height: 0px;
    margin-top: 10px;
    transition: 0.3s;
}

.preview:hover .pr-body {
	opacity: 1;
	max-height: 150px;
	transition: 0.3s;
	bottom: 0px;
	margin-top: 10px;
}

.learn {
	font-family: 'Archivo Black';
	text-transform: uppercase;
	letter-spacing: 2;
	opacity: 0;
	position: absolute;
	bottom: 15%;
	left: 15%;
	transition: 0.3s;
	cursor: pointer;
}

.preview:hover .learn {
	opacity: 1;
	transition: 0.3s;
}

.right-arrow {
	transition: 0.2s;
}

.learn:hover > .right-arrow {
	margin-left: 5px;
	transition: 0.2s;
}

.links {
	color: #ffffff;
	text-transform: uppercase;
	position: absolute;
	bottom: 7%;
	letter-spacing: 2;
	font-size: 0.9em;
}

.links a {
	display: inline-block;
	position: relative;
}

.links > a:before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: -5px;
	left: 0;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transition:0.2s;
	transition:0.2;
}

.links > a:hover:before {
  visibility: visible;
  width: 100%;
}

.links a:last-child {
	margin-left: 10px;
}

.aboutme {
	position: absolute;
	width: 25%;
	height: 100vh;
	z-index: 2;
	top: 0;
	left: -25%;
	background-color: white;
	transition: 0.2s;
}

.active {
	left: 0;
}


@media (max-width: 900px) and (min-width: 700px) {
	.pr-title {
		font-size: 1em;
	}
}

@media (max-width: 700px) {

	.container {
		width: 100%;
		height: 100%;
		min-height: 500px;
		display: block;
		background-color: #f1f1f1;
		background-size: cover;
		background-position: center;
		background-repeat: repeat;
		background-image:('assets/topography.png');
		overflow: none;
	}

	.one {
		height: 95vh;
	}

	.two, .three, .four {
		height: 80vh;
		border-bottom: 1px solid #FF0023!important;
	}

	.one, .two, .three, .four {
		min-width: 100%;
		margin: 0;
		border: 0;
		display: block!important;
		transition: 0.3;
		position: relative;
	}

	.masthead {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -25%);
		max-width: 580px;
	}

	.links {
		left: 50%;
		transform: translateX(-50%);
	}

	.pr-text {
		width: 80%;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.pr-body {
		font-family:'Archivo';
		font-weight: 400;
		font-size: 1.125em;
		line-height: 1.1em;
		opacity: 1;
	    max-height: initial;
	    margin-top: 10px;
	    transition: 0.3s;
	}

	.preview:hover .pr-body {
		opacity: 1;
		max-height: initial;
		transition: 0.3s;
		margin-top: 10px;
	}

	.learn {
		font-family: 'Archivo Black';
		text-transform: uppercase;
		letter-spacing: 2;
		opacity: 1;
		position: relative;
		left: 0px;
		margin-top: 40px;
		display:block;
		transition: 0.3s;
		cursor: pointer;
	}

	.preview:hover .learn {
		opacity: 1;
		transition: 0.3s;
	}

	.gone {
	opacity: 1;
}
}