html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

body {
	font-family:'lato', sans  serif;
}

.gone {
	opacity: 0;
}

.container {
	width: 100%;
	height: 100%;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	background-image:('assets/topography.png');
	overflow: none;
}

.surfer {
	background-image:url('assets/surfer-lo.jpg');
	background-size: cover;
	background-position: center;
}

.people {
	background-image:url('assets/people-2.jpg');
	background-size: cover;
	background-position: center;
}

.soup {
	background-image:url('assets/soup-2.jpg');
	background-size: cover;
	background-position: center;
}

.bike {
	background-image:url('assets/bike.jpg');
	background-size: cover;
	background-position: center;
}

.one, .two, .three, .four {
	width: 25%;
	height: 100vh;
	margin: 0;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	
}

.bio {
	background-color: #E70020;
	color: #ffffff;
	font-family:'Archivo Black';
	position: relative;
}

.masthead {
	width: 101%;
}

.preview {
	color: #E70020;
	position: relative;
	cursor: pointer;

}

.pr-text {
	width: 70%;
	margin-top: 15px;
}

.pr-bug {
	font-family:'Archivo';
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.875em;
	letter-spacing: 3;
	margin-bottom: 3px;
}

.pr-title {
	font-family:'Archivo Black';
	text-transform: uppercase;
	font-size: 1.5em;
	line-height: 1em;
}

.pr-body {
	font-family:'Archivo';
	font-weight: 400;
	font-size: 1.125em;
	line-height: 1.1em;
	opacity: 0;
    max-height: 0px;
    margin-top: 15px;
    transition: 0.3s;
}

.preview:hover .pr-body {
	opacity: 1;
	max-height: 150px;
	transition: 0.3s;
	bottom: 0px;
}

.learn {
	font-family: 'Archivo Black';
	text-transform: uppercase;
	letter-spacing: 2;
	opacity: 0;
	position: absolute;
	bottom: 15%;
	left: 15%;
	transition: 0.3s;
	cursor: pointer;
}

.preview:hover .learn {
	opacity: 1;
	transition: 0.3s;
}

.right-arrow {
	transition: 0.2s;
	width: 14px;
}

.learn:hover > .right-arrow {
	margin-left: 5px;
	transition: 0.2s;
}

.links {
	color: #ffffff;
	text-transform: uppercase;
	position: absolute;
	bottom: 7%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
	letter-spacing: 2;
	font-size: 0.9em;
}

.links a {
	display: inline-block;
	position: relative;
}

.links > a:before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: -5px;
	left: 0;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transition:0.2s;
	transition:0.2;
}

.links > a:hover:before {
  visibility: visible;
  width: 100%;
}

.links a:last-child {
	margin-left: 10px;
}

.aboutme {
	position: absolute;
	width: 25%;
	height: 100vh;
	z-index: 2;
	top: 0;
	left: -25%;
	background-color: white;
	transition: 0.2s;
}

.active {
	left: 0;
}


@media (max-width: 900px) and (min-width: 700px) {
	.pr-title {
		font-size: 1em;
	}
}

@media (max-width: 700px) {

	.container {
		width: 100%;
		height: 100%;
		min-height: 500px;
		display: block;
		background-color: #f1f1f1;
		background-size: cover;
		background-position: center;
		background-repeat: repeat;
		background-image:('assets/topography.png');
		overflow: none;
	}

	.one {
		height: 95vh;
	}

	.two, .three, .four {
		height: 80vh;
		border-bottom: 1px solid #FF0023!important;
	}

	.one, .two, .three, .four {
		min-width: 100%;
		margin: 0;
		border: 0;
		display: block!important;
		transition: 0.3;
		position: relative;
	}

	.masthead {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -25%);
		max-width: 580px;
	}

	.links {
		left: 50%;
		transform: translateX(-50%);
	}

	.pr-text {
		width: 80%;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.pr-body {
		font-family:'Archivo';
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.1rem;
		opacity: 1;
	    max-height: initial;
	    margin-top: 15px;
	    transition: 0.3s;
	}

	.preview:hover .pr-body {
		opacity: 1;
		max-height: initial;
		transition: 0.3s;
	}

	.learn {
		font-family: 'Archivo Black';
		text-transform: uppercase;
		letter-spacing: 2;
		opacity: 1;
		position: relative;
		left: 0px;
		margin-top: 40px;
		display:block;
		transition: 0.3s;
		cursor: pointer;
	}

	.preview:hover .learn {
		opacity: 1;
		transition: 0.3s;
	}

	.gone {
	opacity: 1;
}
}


/* BELOW IS THE CASE STUDY STYLE */


.hero {
	display: grid;
	color: #ffffff;
	grid-template-columns: 13% [main-start] 53% 3% [details-start] 18% 13%;
	grid-template-rows: 100px auto auto auto;
	grid-template-areas: 
	  ". . . . ."
	  ". header header header ."
	  ". picture . details ."
	  ". picture . . ."
}

.hero-background {
	grid-column-start: 1;
	grid-column-end: span 7;
	grid-row-start: 1;
	grid-row-end: span 3;
	background-color: #E70020;
	z-index: -1;
	display: inline-block;
}

.hero-header {
  grid-area: header;
  align-self: center;
}

.hero .pr-bug {
	color: #ffffff;
}

.title {
	color: #ffffff;
	font-family: 'Archivo Black';
	text-transform: uppercase;
	font-size: 6rem;
	line-height: 5.25rem;
	letter-spacing: 0px;
	padding: 5px 0px 40px 0px;
}

.hero-details {
  grid-area: details;
}

.hero-details .details {
	margin-bottom: 40px;
	font-size: 1.125rem;
	line-height: 1.1875rem;
	font-family:'Archivo';
	font-weight: 400;
}

.hero-body {
	font-size: 1.125rem;
	line-height: 1.1875rem;
	font-family:'Archivo';
	font-weight: 400;
	color; #ffffff;
}

.hero-picture {
  grid-area: picture;
}

.hero-picture img {
	width: 100%;
}


/*misc*/

.line {
	width: 20px;
	height: 1px;
	background-color: #ffffff;
	margin: 10px 0px;
}

.home {
	color:#ffffff;
	font-family: 'Archivo Black';
	text-transform: uppercase;
	letter-spacing: 2;
	transition: 0.3s;
	cursor: pointer;
	top: 23px;
	right: 23px;
	display: block;
	position: absolute;
}

.home img {
	width: 75px;
}

.back {
	color:#ffffff;
	font-family: 'Archivo Black';
	text-transform: uppercase;
	letter-spacing: 2;
	transition: 0.3s;
	cursor: pointer;
	top: 23px;
	left: 20px;
	display: block;
	position: absolute;
}

.back img {
	transform: rotate(180deg);
	padding-left: 10px;
	transition: 0.3s;
}


.back:hover img {
	padding-left: 15px;
}

.back:hover {
	left: 15px;
	transition: 0.3s;
}


.content {
	margin-top: 75px;
	margin-bottom: 75px;
	margin-left: 23%;
	width: 43%;
}


.content a {
	color: #000000;
	position: relative;
	transition: 0.2;
}

.content a:focus {
	color: #E70020;
	position: relative;
}


.content a:after {
	content: ' ';
	display: inline-block;
	width: 0px;
	height: 2px;
	background-color: #ffffff;
	position: absolute;
	bottom: -2;
	opacity: 1;
	right: 0px;
	transition: 0.2s;
}


.content a:hover:after {
	content: ' ';
	display: inline-block;
	width: 100%;
	height: 2px;
	background-color: #ffffff;
	position: absolute;
	bottom: -2;
	transition: 0.2;
	right 0px;
}



.content a:before {
	content: ' ';
	display: inline-block;
	width: 100%;
	height: 2px;
	background-color: #E70020;
	position: absolute;
	bottom: -2;
	opacity: 1;
	right: 0px;
	transition: 0.2s;
}


.content a:hover:before {
	content: ' ';
	display: inline-block;
	width: 0px;
	height: 2px;
	background-color: #E70020;
	position: absolute;
	bottom: -2;
	transition: 0.2;
	right: 100%;
}

.content a:hover {
	color: #E70020;
}


.content p::selection {
	background: #E70020;
	color: #ffffff;
}

.content p::-moz-selection {
  	background: #E70020;
	color: #ffffff;
}


.content-2, .content-3 {
	margin-top: 15px;
}

.content-3 {
	margin-top: 15px;
}

.content p {
	font-family: 'archivo';
	font-size: 1.125rem;
	line-height: 1.875rem;
	letter-spacing: 0.2;
	margin-bottom: 30px;
}

.content h2 {
	font-family:'Archivo';
	font-weight: 600;
	text-transform: uppercase;
	font-size: 0.875em;
	letter-spacing: 3;
	margin-bottom: 3px;
	color: #E70020;
	padding-bottom: 20px;
	padding-top: 30px;
}

.caption {
	position: absolute;
	right: 0;
	border-bottom: 3px solid #E70020;
	font-family: 'archivo';
	font-size: 0.75rem;
	line-height: 1.125rem;
	width: 18%;
	margin-right: 13%;
	margin-top: 43px;
	padding-bottom: 10px;
	letter-spacing: 0.5px;
}

.caption-2 {
	margin-top: -500px;
}

.caption-3 {
	margin-top: -500px;
}

.list {
	font-family: 'archivo';
	font-size: 1.125rem;
	line-height: 1.875rem;
	letter-spacing: 0.2;
	margin-left: 30px;
	margin-bottom: 30px;
	position: relative;
}

.list-item {
	margin-top: 20px;
}

.list-item:before {
	content: "•";
	display: inline-block;
	position: absolute;
	left: -20px;
	color: #E70020;
}

.breakdown {
	background-color: #E70020;
	color: #ffffff;
	width: 100%;
	padding: 56px 0px;
}

.breakdown .pr-bug {
	margin-left: 13%;
	margin-bottom: 25px;
}

.breakdown-body {
	font-size: 1.125rem;
	line-height: 1.875rem;
	font-family: 'archivo';
	letter-spacing: 0.2px;
}

.breakdown-container {
	display: grid;
	grid-template-columns: 13% auto 3% auto 3% auto 13%;
	grid-template-areas:
		". details-1 line-1 details-2 line-2 details-3 ."
}

.breakdown .details-1 {
	grid-area: details-1;
}

.breakdown .details-2 {
	grid-area: details-2;
}

.breakdown .details-3 {
	grid-area: details-3;
}

.vert-line {
	width: 1px;
	height: 100%;
	background-color: #ffffff;
	justify-self: center;
}

.vl1 {
	grid-area: line-1;
}

.vl2 {
	grid-area: line-2;
}

.page-footer {
	background-color: #E70020;
	padding: 100px 0px;
	display: grid;
	grid-template-columns: 13% 30% auto 30% 13%;
	grid-template-areas:
		". links . copyright ."
}

.content-image {
	margin-left: 13%;
}

.content-image img {
	width: 53vw;
}


.footer-links {
	color: #ffffff;
	text-transform: uppercase;
	grid-area: links!important;
	justify-self: start;
	text-align: center;
	letter-spacing: 2;
	font-size: 0.9em;
	font-family: 'archivo black';
}

.footer-links a {
	display: inline-block;
	position: relative;
}

.footer-links > a:before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: -5px;
	left: 0;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transition:0.2s;
	transition:0.2;
}

.footer-links > a:hover:before {
  visibility: visible;
  width: 100%;
}

.footer-links a:last-child {
	margin-left: 20px;
}

.copyright {
	grid-area: copyright;
	justify-self: end;
	font-family:'Archivo';
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.875em;
	letter-spacing: 3;
	margin-bottom: 3px;
	color: #ffffff;
}

.lips {
	grid-area: lips;
	justify-self: center;
	align-self: center;
	position: relative;
}

.muah {
	opacity: 0;
	font-family: 'archivo black';
	position: absolute;
	color: #ffffff;
	right: -25px;
	top: -20px;
	cursor: default;
}

.muah-hover:hover ~ .muah {
	opacity: 1;
}


.recirc {
	display: grid;
	position: relative;
	color: #E70020;
	grid-template-columns: 50vw 50vw;
	grid-template-areas:
		"left right"
}


.inner {
	display: grid;
	grid-template-columns: 25% auto 25%;
	grid-template-rows: 100px auto auto auto auto 100px;
	cursor: pointer;
	grid-template-areas:
		". . ."
		". bug ."
		". title ."
		". description ."
		". learn ."
		". . ."
}

.left {
	grid-area: left;
	border-top: 1px solid #E70020;
	border-right: 1px solid #E70020;
}

.right {
	grid-area: right;
	border-top: 1px solid #E70020;
}


/** RECIRC CSS OMG SO MUCH**/

.recirc-bug {
	font-family:'Archivo';
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.875em;
	letter-spacing: 3;
	margin-bottom: 3px;
	grid-area: bug;
}

.recirc-title {
	font-family:'Archivo Black';
	text-transform: uppercase;
	font-size: 1.5em;
	line-height: 1em;
	grid-area: title;
}

.recirc-body {
	font-family:'Archivo';
	font-weight: 400;
	font-size: 1.125em;
	line-height: 1.1em;
	opacity: 1;
    margin-top: 15px;
    transition: 0.3s;
    grid-area: description;
}

.recirc-learn {
	font-family: 'Archivo Black';
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2;
	opacity: 1;
	transition: 0.3s;
	cursor: pointer;
	margin-top: 40px;
	align-self: end;
	grid-area: learn;
}

.preview:hover .recirc-learn {
	opacity: 1;
	transition: 0.3s;
}

.recirc-right-arrow {
	transition: 0.2s;
	width: 14px;
	opacity: 0;
}

.inner:hover * .recirc-right-arrow {
	margin-left: 5px;
	transition: 0.2s;
	opacity: 1;
}


.research-results {
	font-size: 1.125rem;
	line-height: 1.875rem;
	font-family: 'archivo';
	letter-spacing: 0.2px;
	color: #ffffff;
	display: grid;
	background-color: #E70020;
	grid-template-columns: 13% 23vw 30vw auto 13%;
	grid-template-rows: 100px auto auto auto 100px;
	grid-template-areas:
		". . . . ."
		". header . . ."
		". results chart chart ."
		". image image caption ."
		". . . . ."
}

.research-results .pr-bug {
	grid-area: header;
	align-self: start;
	margin-bottom: 20px;
}

.results-text {
	grid-area: results;
	padding-right: 30px;
	border-right: 1px solid #ffffff;
	align-self: start;
}

.results-chart {
	grid-area: chart;
	padding-left: 30px;
	font-family: 'archivo black';
	font-size: 0.75rem;
	line-height: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	align-self: start;
}

.large-bar, .standard-bar {
	background-color: #ffffff;
	height: 35px;
	align-self: start;
	margin-top: 5px;
}

.large-bar {
	width: 100%;
	margin-bottom: 20px;
}

.standard-bar {
	width: 50%;
}

.results-image {
	grid-area: image;
	align-self: start;
	margin-top: 40px;
}

.results-image img {
	width: 100%;
}

.results-caption {
	grid-area: caption;
	align-self: start;
}

.results-caption .caption {
	border-bottom: 3px solid #fff;
	position: relative;
	width: auto;
	margin-right: 0px;
	margin-left: 14%;
	margin-top: 50%;
}

/* MEDIA QUERIES */

@media (max-width: 1300px) {
	.hero {
		display: grid;
		color: #ffffff;
		grid-template-columns: 8% [main-start] auto 3% [details-start] 23% 9%;
		grid-template-rows: 100px auto auto auto;
		grid-template-areas: 
		  ". . . . ."
		  ". header header header ."
		  ". picture . details ."
		  ". picture . . ."
	}

	.page-footer {
		background-color: #E70020;
		padding: 100px 0px;
		display: grid;
		grid-template-columns: 13% 30% auto 30% 13%;
		grid-template-areas:
			". links . copyright ."
	}

	.title {
		font-size: 4.75rem;
		line-height: 4rem;
		padding: 5px 0px 40px 0px;
	}

	.content {
		margin-left: 13%;
		width: 52%;
	}

	.content-image {
		margin-left: 8%;
	}

	.content-image img {
		width: 57vw;
	}

	.breakdown-container {
		display: grid;
		grid-template-columns: 8% auto 4% auto 4% auto 8%;
		grid-template-areas:
			". details-1 line-1 details-2 line-2 details-3 ."
	}

	.breakdown .pr-bug {
		margin-left: 8%;
		margin-bottom: 20px;
	}

	.caption-2, .caption-3 {
		margin-top: -450px;
	}

	.research-results {
		font-size: 1.125rem;
		line-height: 1.875rem;
		font-family: 'archivo';
		letter-spacing: 0.2px;
		color: #ffffff;
		display: grid;
		background-color: #E70020;
		grid-template-columns: 8% 23vw 30vw auto 8%;
		grid-template-areas:
			". . . . ."
			". header . . ."
			". results chart chart ."
			". image image caption ."
			". . . . ."
	}
}


@media (max-width: 1080px) {
	.hero {
		display: grid;
		color: #ffffff;
		grid-template-columns: 8% auto 8%;
		grid-template-rows: 100px auto auto auto;
		grid-template-areas: 
		  ". . ."
		  ". header ."
		  ". details ."
		  ". picture ."
		  ". picture ."
	}

	.caption {
		float: left;
		position: relative;
		border-bottom: 3px solid #E70020;
		font-family: 'archivo';
		font-size: 0.75rem;
		line-height: 1.125rem;
		width: 100%;
		margin-top: 15px;
		margin-bottom: 55px;
		padding-bottom: 10px;
		letter-spacing: 0.5px;
	}

	.hero-background {
		grid-column-start: 1;
		grid-column-end: span 3;
		grid-row-start: 1;
		grid-row-end: span 4;
		background-color: #E70020;
		z-index: -1;
		display: inline-block;
	}

	.hero-details {
		display: grid;
		align-self: start;
		grid-template-columns: auto 3% auto 3% auto;
		grid-template-areas:
			"details-1 . details-2 . details-3"
	}

	.details-1 {
		grid-area: details-1;
	}

	.details-2 {
		grid-area: details-2;
	}

	.details-3 {
		grid-area: details-3;
	}

	.content {
		margin-left: 8%;
		width: 84%;
	}

	.title {
		padding: 5px 0px 40px 0px;
	}

	.content-image {
		margin-left: 8%;
	}

	.content-image img {
		width: 84vw;
	}


	.inner {
		display: grid;
		grid-template-columns: 15% auto 15%;
		grid-template-rows: 75px auto auto auto auto 75px;
		cursor: pointer;
		grid-template-areas:
			". . ."
			". bug ."
			". title ."
			". description ."
			". learn ."
			". . ."
	}

	.home img {
		width: 60px;
	}

	.research-results {
		font-size: 1.125rem;
		line-height: 1.875rem;
		font-family: 'archivo';
		letter-spacing: 0.2px;
		color: #ffffff;
		display: grid;
		background-color: #E70020;
		grid-template-columns: 8% auto 8%;
		grid-template-rows: 75px auto auto auto auto auto 75px;
		grid-template-areas:
			". . ."
			". header ."
			". results ."
			". chart ."
			". image ."
			". caption ."
			". . ."
	}

	.research-results .caption {
		margin-top: 20px;
		margin-left: 0px;
		margin-bottom: 0px;
	}

	.research-results .results-text {
		padding-right: 0px;
		border: 0px;
		margin-bottom: 30px;
	}

	.research-results .results-chart {
		padding-left: 0px;
	}
}

.page-footer {
	background-color: #E70020;
	padding: 100px 0px;
	display: grid;
	grid-template-columns: 8% 30% auto 30% 8%;
	grid-template-areas:
		". links lips copyright ."
}

@media (max-width: 700px) {
	.hero {
		display: grid;
			color: #ffffff;
		grid-template-columns: 8% auto 8%;
		grid-template-rows: 100px auto auto auto auto;
		grid-template-areas: 
		  ". . ."
		  ". header ."
		  "details details details"
		  ". picture ."
		  ". picture ."
	}

	.hero-details {
		overflow: scroll;
		padding-left: 8%;
		padding-top: 40px;
		display: grid;
		align-self: start;
		grid-template-columns: 50vw 3% 50vw 3% 50vw;
		grid-template-areas:
			"details-1 line-1 details-2 line-2 details-3"
	}

	.breakdown-container {
		overflow: scroll;
		display: grid;
		grid-template-columns: 8% 50vw 7% 50vw 7% 50vw;
		grid-template-areas:
			". details-1 line-1 details-2 line-2 details-3"
	}

	.title {
		padding: 5px 0px 0px 0px;
	}



/*OLD
	.breakdown {
		overflow: scroll;
		padding-left: 8%;
		padding-top: 40px;
		display: grid;
		align-self: start;
		grid-template-columns: 50vw 3% 50vw 3% 50%;
		grid-template-areas:
			"breakdown-header breakdown-header breakdown-header breakdown-header breakdown-header"
			"details-1 . details-2 . details-3"
	}

	.breakdown .pr-bug {
		grid-area: breakdown-header;
	}*/
}

@media (max-width: 685px) {
	.title {
		color: #ffffff;
		font-family: 'Archivo Black';
		text-transform: uppercase;
		font-size: 4rem;
		line-height: 3.5rem;
		letter-spacing: 0px;
		padding: 5px 0px 0px 0px;
	}

	.hero-details {
		padding-top: 30px;
	}

	.page-footer {
		background-color: #E70020;
		padding: 100px 0px;
		display: grid;
		grid-template-columns: 8% 30% auto 30% 8%;
		grid-template-areas:
			". links lips copyright ."
	}

	.copyright {
		text-align: right;
	}

	.home {
		right: 20px;
	}

	.home img {
		width: 50px;
	}

}

@media (max-width: 575px) {
	.title {
		color: #ffffff;
		font-family: 'Archivo Black';
		text-transform: uppercase;
		font-size: 3rem;
		line-height: 2.75rem;
		letter-spacing: 0px;
		padding: 5px 0px 0px 0px;
	}

	.content {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.content-2, .content-3 {
		margin-top: 0px;
	}



	.break {
		display: none;
	}

	.hero-details .details:last-child {
		margin-right: 8%;
	}

	.hero-details {
		padding-top: 30px;
		grid-template-columns: 70vw 50px 70vw 50px 50vh;
	}

	.breakdown-container {
		overflow: scroll;
		display: grid;
		padding-right: 8%;
		grid-template-columns: 8% 70vw 50px 70vw 50px 70vw;
		grid-template-areas:
			". details-1 line-1 details-2 line-2 details-3"
	}

	.page-footer {
		background-color: #E70020;
		padding: 100px 0px;
		display: grid;
		grid-template-rows: 5vh 25px 50vh 25px 5vh;
		grid-template-columns: 100%;
		grid-template-areas:
			"."
			"links"
			"lips"
			"copyright"
			"."
	}

	.lips {
		grid-area: lips;
		justify-self: center;
		align-self: center;
	}

	.footer-links {
		justify-self: center;
	}

	.copyright {
		justify-self: center;
	}

	.recirc {
		display: grid;
		position: relative;
		color: #E70020;
		grid-template-columns: 100vw 100vw;
		grid-template-areas:
			"left"
			"right"
	}

	.left {
		border-right: 0px;
	}

	.recirc-right-arrow {
		opacity: 1;
	}


	.inner {
		display: grid;
		grid-template-columns: 40px auto 40px;
		grid-template-rows: 75px auto auto auto auto 75px;
		cursor: pointer;
		grid-template-areas:
			". . ."
			". bug ."
			". title ."
			". description ."
			". learn ."
			". . ."
	}
}

/*
@media (max-width: 500px) {
	.hero {
		display: grid;
		color: #ffffff;
		grid-template-columns: 30px auto 30px;
		grid-template-rows: 100px auto 40px auto auto 100px;
		grid-template-areas: 
		  ". . ."
		  ". header ."
		  ". . ."
		  ". picture ."
		  ". details ."
	}

	.hero-background {
		grid-column-start: 1;
		grid-column-end: span 3;
		grid-row-start: 1;
		grid-row-end: span 6;
		background-color: #E70020;
		z-index: -1;
		display: inline-block;
	}

	.title {
		color: #ffffff;
		font-family: 'Archivo Black';
		text-transform: uppercase;
		font-size: 3em;
		line-height: 0.9em;
		letter-spacing: 0px;
		padding: 5px 0px 12px 0px;
	}
}*/


/********************** SPECIAL **********************/



.special-container img {
  display: block;
  width: 100%;
}

input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

button {
  border: 10px solid #00FFAA;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #444;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

button:hover {
  background: #00FFAA;
}

input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}

.special-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.scene {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
}

.scene li {
  width: 120%;
  height: 120vh;
  margin-left: -8%;
  margin-top: -1%;
}

.layer:nth-child(1) {
  background-image: url('assets/bg.png');
  background-position: center;
  background-size: cover;
}

.layer:nth-child(2) {
  background-image: url('assets/stripes.png');
  background-position: center;
  background-size: cover;
}

.layer:nth-child(3) {
  background-image: url('assets/text-large.png');
  background-position: center;
  background-size: cover;
}

@media (max-width: 750px) {
  .layer:nth-child(3) {
    background-image: url('assets/text-large.png');
    background-position: center top;
    background-size: 120%;
    background-repeat: no-repeat;
  }
}

.layer:nth-child(4) {
  background-image: url('assets/fg.png');
  background-position: center;
  background-size: cover;
}

.layer:nth-child(5) {
  width: 100%;
  height: initial;
  top: initial!important;
  bottom: 25%!important;
  margin: 0 auto;
}

.layer:nth-child(5) img {
  width: auto;
  margin: 0 auto;
  transition: 0.3s;
}

.layer:nth-child(5) img:hover {
  transform: scale(1.075);
  transition: 0.3s;
  cursor: pointer;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}
/*
.layer:nth-child(1) {
  opacity: 0.15;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 0.30;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
  opacity: 0.45;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
  opacity: 0.60;
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
  opacity: 0.75;
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
  opacity: 0.90;
}
.layer:nth-child(6) button {
}
*/

