body {
	margin:0;
	font-family:tahoma;
}

.first {
	width:100%;
	height:1000px;
}

.bg1, .bg2, .bg3 {
	height:1000px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}

.bg1 {
	z-index:10;
	background-image:url('http://afbaumgartner.com/assets/glasses-v7.png');
	background-repeat:repeat;
}

.bg2 {
	z-index:5;
	opacity:0.3;
	background-size:300px;
	background-image:url('http://afbaumgartner.com/assets/glasses-v7.png');
	background-repeat:repeat;
	/*-webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px);*/
}

.bg3 {
	z-index:0;
	background-image:url('http://subtlepatterns.com/patterns/gplaypattern.png');
	background-repeat:repeat;
	/*-webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);*/
}

.second {
	height:1750px;
	width:100%;
	border-top:5px solid white;
}

.trip1, .trip2, .trip3 {
	display:inline-block;
	width:33%;
	height:2750px;
	color:#000000;
	font-size:1.3em;
	text-transform: uppercase;
	text-align:center;
	padding-top:10px;
}

.trip1 {
	z-index:10;
	background-image:url('http://afbaumgartner.com/assets/glasses-v7.png');
	background-repeat:repeat;
	background-color:#F7F7F7;
}

.trip2 {
	z-index:5;
	background-size:300px;
	background-image:url('http://afbaumgartner.com/assets/glasses-v7.png');
	background-repeat:repeat;
	background-color:#FCFCFC;
	/*-webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px);*/
}

.trip3 {
	z-index:0;
	background-image:url('http://subtlepatterns.com/patterns/gplaypattern.png');
	background-repeat:repeat;
	/*-webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px); filter: blur(5px);*/
}

.third {
	position:fixed;
	z-index:15;
	top:0;
	left:0;
	background-color:#000000;
	background-image:url('http://cdn.hifipanda.com/51a3ac90a91c261922.jpg');
	width:100%;
	height:100vh;
	text-align:center;
	font-size:4em;
	text-transform: uppercase;
	color:#ffffff;
}
