html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

.nav {
	width: 100%;
	border-bottom: 3px solid #d30000;
	display: table;
	z-index: 10;
	background-color: #ffffff;
	position: fixed;
}

.logo {
	background-color: #d30000;
	display: inline-block;
}

.logo img {
	width: 135px;
	padding: 10px;
}

.sponsorship {
	display: inline-block;
	float: right;
	padding-top: 8px;
	padding-right: 12px;
}

.body {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: relative;
	overflow: hidden;
	float: left;
}

.quiz {
	width: 500%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	/*background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/ea/Sydney_Harbour_Bridge_night.jpg');*/
	background-size: cover;
	background-position: center;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dots {
	position: fixed;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
}

.dot {
	display: inline-block;
	margin: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #CECECE;
	cursor: pointer;
}

.dot-active {
	width: 10px;
	height: 10px;
	margin: 10px;
	border-radius: 50%;
	background-color: #828282;
	z-index: 10;
	position: absolute;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.q-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.question {
	top: 0!important;
	width: 20%;
	height: 100vh;
	margin: 0px -2px 0px -2px;
	position: relative;
	display: inline-block;
}

.text {
	width: 85%;
	max-width: 1100px;
	position: relative;
}

.q {
	font-size: 80px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	width: 52%;
	text-align: right;
	display: inline-block;
}

.a {
	display: inline-block;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	width: 40%;
	margin-left: 7%;
	box-sizing: border-box;
	position: relative;
}

.a label {
	margin-top: 20px;
	position: relative;
	cursor: pointer;
	display: block;
}

.a label input {
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
}

.a label input + span:before {
	content:url('assets/checked.svg');
	height: 20px;
	width: 20px;
	position: absolute;
	left: -30px;
	top: 50%;
	margin-top:-10px;
	opacity: 0;
	z-index:2;
	transform: scale( 0.1 );
	transition: 0.1s;
}

.a label input:checked + span:before {
	opacity: 1;
	transform: scale( 1 );
	transition: all 0.2s;
}

.a label input + span:after {
	content:url('assets/circle.svg');
	height: 20px;
	width: 20px;
	position: absolute;
	left: -30px;
	top: 50%;
	margin-top: -10px;
	z-index: 2;
	transform: scale( 1 );
	transition: all 0.1s;
}

.a label input:checked + span:after {
	opacity: 0;
	transform: scale( 0.1 );
	transition: all 0.13s;
}

input:focus + span {
	text-shadow: 0 0 2px #d30000;
}

/* dropdown */

.wrapper-dropdown-1 {
	display:inline-block;
	width: 40%;
	margin-left: 4%;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 65px;
	text-transform: uppercase;
	background-color: #F1F1F1;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	outline: none;
	z-index: 1;
	background: -moz-linear-gradient(left,  #F1F1F1 0%, #F1F1F1 90%, #818181 90%, #818181 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9bc7de), color-stop(78%,#9bc7de), color-stop(78%,#ffffff), color-stop(100%,#ffffff));
	background: -o-linear-gradient(left,  #F1F1F1 0%,#F1F1F1 90%,#818181 90%,#818181 100%);
	background: -ms-linear-gradient(left,  #F1F1F1 0%,#F1F1F1 90%,#818181 90%,#818181 100%);
	background: linear-gradient(to right,  #F1F1F1 0%,#F1F1F1 90%,#818181 90%,#818181 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc7de', endColorstr='#ffffff',GradientType=1 );
	transition: 0.1s;
}

.wrapper-dropdown-1:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;    
}

.wrapper-dropdown-1 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
	z-index: 1;
    /* Styles */
    background: #fff;
    list-style: none;
    font-weight: normal; /* Cancels previous font-weight: bold; */

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-1 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    padding: 10px 20px;
}

/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
    background: #F1F1F1;
}

/* Active state */
.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    max-height: 22vh;
    overflow: scroll;
    border-bottom: 3px solid #818181;
}

.wrapper-dropdown-1.active:after {
    border-color: #ffffff transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px; 
}

.wrapper-dropdown-1.active {
  background: #9bc7de;
  background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 90%, #818181 90%, #818181 100%);
  background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 90%,#818181 90%,#818181 100%);
  background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 90%,#818181 90%,#818181 100%);
  background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 90%,#818181 90%,#818181 100%);
  background: linear-gradient(to right,  #ffffff 0%,#ffffff 90%,#818181 90%,#818181 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc7de', endColorstr='#ffffff',GradientType=1 );
  transition: 0.1s;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-1 .dropdown,
.no-pointerevents .wrapper-dropdown-1 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-1.active .dropdown,
.no-pointerevents .wrapper-dropdown-1.active .dropdown {
    display: block;
}

.bold {
	font-weight: 600;
	display: inline-block;
	transition: 0.2s;
}

.next {
	border: 0;
	background: none;
	position: relative;
	max-width: 400px;
	float: right;
	margin-top: 30px;
	cursor: pointer;
	font-size: 24px;
	line-height: 1.2em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.next:hover > .bold {
	margin-right: -5px;
	padding-left: 5px;
	transition: 0.2s;
}

.next-hidden {
	visibility: hidden;
	opacity: 0;
	transition: 1s;
	margin-right: -20px;
}

.next-visible {
	visibility: visible;
	opacity: 1!important;
	transform: translateX(0)!important;
	transition: 0.2s;
	margin-right: 0px;
}