/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

/*orange #f25d50
font-family: "adelle";
font-family: "franklin-gothic-urw";
*/

body {
}

.cover{
	background-color:#fff;
	width:100%;
	margin:80px 0px 190px 0px;
}
.container {
	margin:0 auto;
	padding:50px 0px;
	width:80%;
	max-width:1060px;
	/*background-image:url('assets/grid.jpg');
	background-position:center;
	background-repeat:repeat-y*/
}

.right-column { 
	width:300px; 
	float:right;  
	margin-bottom:0px;
}

.left-column { margin-right:300px;}

/*homepage specifics*/

.homepage-hero {
	background-image:url('http://dailyxtra.com/sites/default/files/styles/stand_alone_slide_show_big/public/multiple/XT784_BDSM_3263.jpg?itok=qyw5kYtD');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:80%;
    padding:100px 10%;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;

}

.topic-title {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:1em;
	color:#fff;
	text-transform:uppercase;
}

.body {margin:50px 0px;}

.rail-list {
	background-color:#f2f2f2;
	display:block;
	width:auto;
	padding:17px 20px 20px 20px;
}

/************* navigation **************/
.navigation-top {
	background-color:#2f5373;
	width:100%;
	height:80px;
	position:fixed;
	z-index:-10;
	top:0px;
	left:0px;
	color:#fff;
	font-family: "franklin-gothic-urw";
	font-size:0.875em;
	line-height:1.175em;
	text-transform:uppercase;
}

.navigation-sticky {
	background-color:#2f5373;
	width:100%;
	height:35px;
	z-index:10;
	left:0px;
	color:#fff;
	font-family: "franklin-gothic-urw-cond";
	font-weight:600;
	font-size:1.250em;
	line-height:1.175em;
	text-transform:uppercase;
	border-top:1px solid #6e879c;
}

.fixed {
	position:fixed;
	top:0px;
}

.navigation-top a:hover {
	text-decoration:underline;
}

.logo {
	position:relative;
	top:14px;
	left:14px;
}

.options {
	position:relative;
	top:17px;
	right:14px;
	float:right;
	text-align:right;
}

.nav-search {
	background-color:#6e879c;
	border:0px;
	height:18px;
	width:140px;
	color:#fff;
	font-family: "franklin-gothic-urw";
	font-size:0.875em;
	line-height:1.175em;
	text-transform:uppercase;
	padding-right:5px;
}

.nav-search::-webkit-input-placeholder {color: #fff;}

.nav-search:-moz-placeholder { /* Firefox 18- */color: #fff;  }

.nav-search::-moz-placeholder {  /* Firefox 19+ */color: #fff;  }

.nav-search:-ms-input-placeholder {  color: #fff;  }

.nav-search-go {
	background-color:transparent;
	width:18px;
	height:18px;
	border:0px;
	background-image:url('assets/search-03.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
	cursor:pointer;
}

.edition a:hover {
	text-decoration:none;
}

/************* font styles *************/

/*homepage hero*/

.hp-hero-1 {
	font-family: "adelle";
	font-size:3.750em;
	line-height:1.3em;
	color:#fff;
	background-color:#f25d50;
	display:inline;
}

.hp-hero-2 {
	font-family:"franklin-gothic-urw-cond", sans-serif;
	font-size:2.500em;
	line-height:1.1em;
	color:#fff;
	font-weight:600;
}

.recommended-headline {
	font-family:"franklin-gothic-urw-cond", sans-serif;
	font-size:1.500em;
	line-height:1.1em;
	color:#fff;
	font-weight:600;
}

.hp-hero-list {
	font-family:"franklin-gothic-urw-cond", sans-serif;
	font-size:1.25em;
	color:#fff;
}

.homepage-hero .subhead {color:#ffffff;}

.homepage-hero ul li {
	padding:6px 0px;
	border-bottom:1px solid rgba(255, 255, 255, 0.3);
	width:50%;
}

.homepage-hero ul li:last-child {
	padding:6px 0px;
	border-bottom:none;
}

.hp-hero-1:hover, .hp-hero-2 a:hover, .homepage-hero ul li a:hover, .homepage-hero .topic-title a:hover, .homepage-hero .subhead a:hover, .recommended-headline a:hover {
	opacity:0.7;
	cursor:pointer;
}

/*homepage river*/

.hp-headline {
	font-family:"franklin-gothic-urw-cond", sans-serif;
	font-size:1.875em;
	font-weight:600;
}

.hp-description {
	font-family:"calluna";
	font-size:1em;
	line-height:1.250em;
}

.hp-story {
	width:46%;
	margin-right:3%;
	height:340px;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
}

.hp-story .image {
	width:100%;
	height:190px;
	background-image:url('http://dailyxtra.com/sites/default/files/styles/440px_wide/public/Gay_Pride_Madrid_2013_-_130706_202133_1.jpg?itok=Ds8PL5PO');
	background-size:cover;
	display:block;
}

.hp-headline a:hover {
	color:#6d6e70;
	cursor:pointer;
}

.hp-story .image:hover, .hp-description a:hover {
	cursor:pointer;
}

/*rail*/
.rail-header {
	font-family:"adelle";
	font-size:1.250em;
	color:#fff;
	background-color:#f1c141;
	text-transform:uppercase;
	margin-left:10px;
	padding:5px 5px 4px 5px;
	display:inline-block;
	-o-transition:.1s;
  	-ms-transition:.1s;
  	-moz-transition:.1s;
  	-webkit-transition:.1s;
	transition:.1s;
}

.rail-header:hover {
	opacity:0.7;
	cursor:pointer;
	display: inline-block;
	vertical-align: middle;
	-o-transition:.1s;
  	-ms-transition:.1s;
  	-moz-transition:.1s;
  	-webkit-transition:.1s;
	transition:.1s;
}

.rail-more {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:0.9em;
	color:#fff;
	background-color:#f1c141;
	text-transform:uppercase;
	margin-right:10px;
	padding:3px 5px;
	display:inline-block;
	float:right;
}

.rail-more:hover {
	opacity:0.7;
	cursor:pointer;
}

.rail-list li {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:1em;
	line-height:1.1em;
	color:#000;
	margin:15px 0px;
}

.rail-list li a:hover {color:#6d6e70;}

.rail-list li:first-child {margin-top:0px;}

.rail-list li:last-child {margin-bottom:0px;}

.rail-list h5 {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:0.8em;
	font-weight:600;
	text-transform:uppercase;
	margin-bottom:5px;
}

.tags a {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:0.8em;
	color:#fff;
	background-color:#ccc;
	text-transform:uppercase;
	padding:3px 5px;
	margin:1px;
	display:inline-block;
	-o-transition:.1s;
  	-ms-transition:.1s;
  	-moz-transition:.1s;
  	-webkit-transition:.1s;
	transition:.1s;
}

.tags a:hover {
	background-color:#E1E1E1;
	-o-transition:.1s;
  	-ms-transition:.1s;
  	-moz-transition:.1s;
  	-webkit-transition:.1s;
	transition:.1s;
}

.related img {
	width:130px;
	display:inline-block;
}

.related p {
		font-size:1em;
	line-height:1.1em;
	display:inline-block;
	vertical-align:top;
	width:110px;
	margin-left:10px;
}


/* recommended */

.recommended-story .recommended-headline {color:#000;}

.recommended-stories {
	width:100%;
	padding:0px;
}

.recommended-story {
	width:25%;
	min-height:270px;
	height:auto;
	background-color:#f2f2f2;
	border-right:1px solid #fff;
	display:inline-block;
	vertical-align: top;
}

.recommended-story:last-child {
	border-right:0px;
}

.recommended-story .image {
	width:100%;
	height:160px;
	background-image:url('http://dailyxtra.com/sites/default/files/styles/440px_wide/public/Gay_Pride_Madrid_2013_-_130706_202133_1.jpg?itok=Ds8PL5PO');
	background-size:cover;
	display:block;
}


/************* articles **************/

.article-headline {
	font-family:"franklin-gothic-urw-cond", sans-serif;
	font-size:4.375em;
	font-weight:600;
	letter-spacing:-2;
	margin:20px 0px;
}

.subhead {
	font-family: "franklin-gothic-urw", sans-serif;
	font-weight:400;
	font-size:1.5em;
	margin:20px 0px;
}

.byline {
	font-family: "franklin-gothic-urw", sans-serif;
	font-weight:300;
	font-size:1em;
}

.byline a {
	color:#f25d50;
	font-weight:600;
	text-transform:uppercase;
}

.byline a:hover {text-decoration:underline;}

figure img {
	margin-bottom:2px;
	width: 100%;
  	height: auto; 
}

figcaption {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:0.875em;
	line-height:1.40em;
	color:#666666;
	margin-top:2px;
}

.credit {font-weight:600;}

.credit a:hover {text-decoration:underline;}

.article-body {margin:0px 0px 60px 50px;}

.article-body p {
	font-family:"calluna";
	font-size:1.125em;
	line-height:1.750em;
	margin:15px 0px;
}

.article-body blockquote {
	font-family:"franklin-gothic-urw-cond", sans-serif;
	font-weight:500;
	font-style:italic;
	color:#f25d50;
	font-size:1.750em;
	line-height:1.250em;
	margin:5px 30px 0px -50px;
	width:225px;
	display:inline-block;
	float:left;
}

.article-body a {border-bottom:1px solid #f25d50;}

.article-body a:hover {border-bottom:2px solid #f25d50;}

.article-h2 {
	font-family: "franklin-gothic-urw", sans-serif;
	font-size:2em;
	font-weight:600;
	letter-spacing:-1px;
	text-transform: uppercase;
	color: #666;
	margin:20px 0px -10px 0px;
	display:block;
}

.article-h3 {
	font-family: "franklin-gothic-urw", sans-serif;
	font-size:1.75em;
	font-weight:600;
	color: #666;
	margin:20px 0px -10px 0px;
	display:block;
}

.article-h4 {
	font-family: "franklin-gothic-urw-cond", sans-serif;
	font-size:1.35em;
	font-weight:600;
	text-transform:uppercase;
	color: #666;
	margin:20px 0px -10px 0px;
	display:block;
}

.article-h5 {
	font-family: "adelle";
	font-size:1.25em;
	font-weight:600;
	color: #666;
	margin:20px 0px -10px 0px;
	display:block;
}

/************* comments *************/

.comments-header {
	background-color:#666;
	color:#fff;
}

.comments-header h4 {
	font-family: "adelle";
	font-size:1.25em;
	font-weight:600;
	padding:5px 5px 4px 5px;
	display:inline-block;
}

.login {
	float:right;
	display:inline-block;
}

.comments-section h5 {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:1em;
	font-weight:400;
	padding:7px 7px 4px 5px;
}

.comments-section h5 a:hover {
	text-decoration:underline;
}

.comment {
}

.comment-body {
	margin-left:80px;
	float:right;
	vertical-align:top;
	border-bottom:1px solid #999;
	padding-bottom:20px;
}

.comment-body h5 {
	font-weight:600;
	padding:0;
}

.comment-body {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:1em;
	line-height:1.2em;
	color:#000;
}

.comment-author, .comment-actions {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:0.9em;
	line-height:1.1em;
	color:#999;
}

.comment-author {
	float:left;
}

.comment-author a {
	font-weight:600;
}

.comment-author a:hover {
	text-decoration:underline;
}

.comment-actions {
	float:right;
}

.comment-actions a:hover {
	text-decoration:underline;
}

.comment-actions a:first-child {
	margin-right:15px;
}

.comment-photo { 
	background-image:url('http://a1.s6img.com/cdn/0009/p/2250559_9176873_lz.jpg');
	background-size:cover;
	width:65px;
	height:65;
}

textarea {
	background-color:#f2f2f2;
	width:100%;
	max-width:100%;
	height:150px;
	max-height:300px;
	border:0px;
}

button {
	font-family:"franklin-gothic-urw", sans-serif;
	font-size:0.9em;
	color:#fff;
	background-color:#f25d50;
	text-transform:uppercase;
	padding:8px 15px;
	display:inline-block;
	border:0px;
}

.comments-section button {
	margin-right:10px;
	float:right;
}

button:hover {
	opacity:0.7;
	cursor:pointer;
}

button:focus {
	background-color:#999;
}


/************* footer *************/

.footer {
	width:100%;
	background-color:#2f5373;
	color:#fff;
	margin:0 auto;
	position:fixed;
	bottom:0px;
	z-index:-10;
}

.footer .main {
	width:1080px;
	margin:0 auto;
	padding:20px 0px;
	font-family: "franklin-gothic-urw";
	font-size:0.875em;
	line-height:1.175em;
}

.footer ul {
	font-family: "franklin-gothic-urw";
	display:inline-block;
	width:16%;
	padding:0px 1%;
	margin:0 auto;
	vertical-align:top;
}

.footer ul:first-child {
	font-weight:600;
	text-align:right;
	vertical-align:distribute;
}

.footer ul:nth-child(2) {
	border-left:1px solid #fff;
}

.footer ul li:first-child {
	font-weight:600;
}

.footer ul li {
	padding:2px 0px;
}

.footer ul li a:hover {
	text-decoration:underline;
}

.footer .copyright {
	background-color:#2f5373;
	font-family: "franklin-gothic-urw";
	font-size:0.875em;
	color:#fff;
	padding:10px 0px;
	text-align:center;
	width:100%;
}

.footer .copyright a:hover {
	text-decoration:underline;
}

/************* sponsored *************/
.sponsored-highlight {
	background-color:#05a688;
	padding:3px 4px 2px 6px;
	display:inline-block;
}

.sponsored-highlight:hover {background-color:#49b7a0;}

.sponsored-image {
	background-color: rgba(5, 166, 136, 0.6);
    background-blend-mode: multiply;
}


/************* highlights *************/

.dark-blue-highlight {
	background-color:#2f5373;
	padding:3px 4px 2px 6px;
	display:inline-block;
}

.dark-blue-highlight:hover { background-color:#5a768e;}

.yellow-highlight {
	background-color:#f1c141;
	padding:1px 3px;
	display:inline-block;
}


/************* margins & padding *************/
.m0 {margin:0px;}

/*top*/
.vt-m-10 {margin-top:-10px;}.vt-m0 {margin-top:0px;}.vt-m5 {margin-top:5px;}.vt-m10 {margin-top:10px}.vt-m20 {margin-top:20px}.vt-m30 {margin-top:30px}.vt-m40 {margin-top:40px}.vt-m50 {margin-top:50px}.vt-m60 {margin-top:60px}.vt-m100 {margin-top:100px}

/*bottom*/
.vb-m-10 {margin-bottom:-10px;}.vb-m0 {margin-bottom:0px;}.vb-m5 {margin-bottom:5px;}.vb-m10 {margin-bottom:10px}.vb-m20 {margin-bottom:20px}.vb-m30 {margin-bottom:30px}.vb-m40 {margin-bottom:40px}.vb-m50 {margin-bottom:50px}.vb-m60 {margin-bottom:60px}.vt-m100 {margin-top:100px}

/*left*/
.vl-m-5 {margin-left:-5px;}.vl-m-10 {margin-left:-10px;}.vl-m0 {margin-left:0px;}.vl-m5 {margin-left:5px;}.vl-m10 {margin-left:10px}.vl-m20 {margin-left:20px}.vl-m30 {margin-left:30px}

/*right*/
.vr-m-10 {margin-right:-10px;}.vr-m0 {margin-right:0px;}.vr-m5 {margin-right:5px;}.vr-m10 {margin-right:10px}.vr-m20 {margin-right:20px} .vr-m30 {margin-right:30px}

/*exception*/
.lc-310m { 
	margin-right:330px;
}


/************* video play *************/

.play-button-large .round {
	width:26px;
	height:26px;
	-webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px; 
    background-color:#f25d50;
}

.play-button-large .round .triangle {
	position:relative;
	top:7px;
	left:9px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6.5px 0 6.5px 11.3px;
	border-color: transparent transparent transparent #ffffff;
}

.play-button-medium .round {
	width:18px;
	height:18px;
	-webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px; 
    background-color:#f25d50;
}

.play-button-medium .round .triangle {
	position:relative;
	top:5px;
	left:6px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4.5px 0 4.5px 7.8px;
	border-color: transparent transparent transparent #ffffff;
}

.play-button-small .round {
	width:14px;
	height:14px;
	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; 
    background-color:#f25d50;display:inline-block;
}

.play-button-small .round .triangle {
	position:relative;
	top:4px;
	left:5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 5.2px;
	border-color: transparent transparent transparent #ffffff;
}

.play-button-small, .play-button-medium, .play-button-large {
	margin: 2px 0px 0px 5px;
	display:inline-block;
}


/************* breakdown *************/

.breakdown {
	width:100%;
}

.colors {
	text-align:center;
	width:100%;
	margin:0 auto;
}

.colors div {
	font-family: "franklin-gothic-urw";
	font-weight:600;
	font-size:0.8em;
	width:100px;
	padding:40px 10px;
	display:inline-block;
	margin:10px 10px;
}

.orange {
	background-color:#f25d50;
	color:#fff;
}

.nav-blue {
	background-color:#2f5373;
	color:#fff;
}

.yellow {
	background-color:#f1c141;
	color:#fff;
}

.sponsored-green {
	background-color:#05a688;
	color:#fff;
}

.promoted-blue {
	background-color:#19b6e1;
	color:#fff;	
}

.background-grey {
	background-color:#f2f2f2;
	color:#000;
}

.dark-grey {
	background-color:#666;	
	color:#fff;
}

.light-grey {
	background-color:#999;
	color:#fff;
}

