html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

body {
	font-family:'archivo', sans  serif;
	max-height: 100vh;
}

.container {
	display: block;
	margin: 0px;
	padding: 0px;
	max-height: 100vh;
}

.home {
	display: block;
	position: absolute;
	top: 35px; left: 35px;
	z-index: 3;
	font-family:'Archivo';
	font-weight: 400;
	font-size: 1.3em;
	z-index: 21;
}

.home a {
	color: #E70020;
	padding-bottom: 5px;
}

.header {
	display: block;
	position: absolute;
	top: 35px; left: 50%;
	z-index: 3;
	font-family:'Archivo';
	font-weight: 400;
	font-size: 1.3em;
	transform: translateX(-50%);
	z-index: 15!important
}

.down {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	padding-bottom: 40px;
}

.down:before {
	content: '👇';
    font-size: 2em;
	display: inline-block;
	color: #E70020;
}

.squiggle:hover, .squiggle:focus {
  outline: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 0.5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23E70020' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0px 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.moveable {
	cursor: grab!important;
}

.moveable:active {
	cursor: grabbing!important;
}

.left {
	position: fixed;
	width: 50%;
	height: 100vh;
	overflow-y: scroll;
	z-index: 0;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

.left:after {
	content: '';
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(../dotbg.png);
	background-repeat: repeat;
	opacity: 0.2;
	z-index: -1;
}

.right {
	display: inline-block;
	position: fixed;
	background-repeat: repeat;
	width: 50%;
	height: 100vh;
	right: 0;
	background-color: #ffffff;
	z-index: 10;
	overflow-y: scroll;
}

.content p {
	font-size: 18px;
	line-height: 200%;
	padding-left: 60px;
	padding-right: 60px;
	font-family: 'archivo';
	margin-top: 40px;
	margin-bottom: 40px;
}

.text {
	background-color: #ffffff;
	color: #E70020;
	position: absolute;
	width: 300px;
	top: 70%;
	left: 27%;
	border-radius: 20px;
	overflow: hidden;
	z-index: 21;
	height: auto;
	border: 2px solid #E70020;
	text-align: center;
}

.text p {
	font-size: 14px;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: 1;
	padding: 20px 30px;
	cursor: grab!important;
}

.text p:active {
	cursor: grabbing!important;
}

.pic {
	text-align: center;
	position: absolute;
	width: 40%;
	top: 19%;
	left: 5%;
	border-radius: 20px;
	overflow: hidden;
	z-index: 20;
	border: 2px solid #E70020;
	/*box-shadow: 0px 9px 16px -1px rgba(0,0,0,0.32);*/
}

.pic img {
	width: 100%;
}

.content {
	margin-top: 125px;
}

.content h1 {
	font-family: 'archivo black';
	font-size: 5em;
	line-height: 100%;
	padding-left: 60px;
	padding-right: 60px;
	color: #E70020;
	z-index: 10;
}

.content h2 {
	font-family: 'archivo';
	font-size: 2em;
	line-height: 160%;
	padding-left: 60px;
	padding-right: 60px;
	color: #767676;
	margin-top: 10px;
	margin-bottom: 40px;
	z-index: 10;
}

.content h3 {
	font-family: 'archivo';
	font-weight: 300;
	font-size: 2em;
	line-height: 130%;
	padding-left: 60px;
	padding-right: 60px;
	color: #383838;
	margin-top: 40px;
	margin-bottom: -20px;
}

.content h4 {
	font-family: 'archivo';
	font-size: 1.5em;
	line-height: 130%;
	padding-left: 60px;
	padding-right: 60px;
	color: #383838;
	margin-top: 40px;
	margin-bottom: 10px;
}

.breaker {
	display: block;
	position: relative;
	width: 40px;
	height: 5px;
	margin: 0 auto;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 0.5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23E70020' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
}

ul {
	display: block;
	text-indent: -27px; /* key property */
    margin-left: 26px; /* key property */
}

li {
	padding: 10px 60px 10px 60px;
	font-size: 1.2em;
	color: #767676;
	line-height: 120%;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  text-indent: -20px; /* key property */
  
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #E70020;
}

ul li:nth-child(4n+1)::before {
    content: "🤨 ";
  }

ul li:nth-child(4n+2)::before {
    content: "🧐 ";
  }

ul li:nth-child(4n+3)::before {
    content: "🤓 ";
  }
  
ul li:nth-child(4n)::before {
    content: "🤔 ";
  }

ol li:before {
	font-size: 1.3em;
	display: inline-block;
	margin-right: 10px;
	padding-top: 5px;
	color: #E70020;
}

@media (min-width: 1151px) and (max-width: 1250px){

	.pic {
		top: 22%;
		width: 40%;
	}

	.text {
		left: 22%;
	}	

}

@media (min-width: 951px) and (max-width: 1150px){

	.pic {
		top: 25%;
		width: 40%;
	}

	.text {
		top: 62%;
		left: 22%;
	}	

	.content h1 {
		font-size: 4em!important;
	}

	.content h2 {
		font-size: 2em!important;
	}

	.content li {
		font-size: 1em;
	}

}

@media (min-width: 841px) and (max-width: 950px){

	.pic {
		top: 27%;
		width: 45%;
	}

	.text {
		top: 62%;
		left: 18%;
	}	

	.content h1 {
		font-size: 3em!important;
	}

	.content h2 {
		font-size: 1.2em!important;
	}

	.content li {
		font-size: 1em;
	}

}

@media (min-width: 701px) and (max-width: 840px){

	.pic {
		left: 12%;
		top: 15%;
		margin: 0 auto;
		width: 60%;
	}

	.text {
		top: 58%;
		left: 40%;
	}

	.content {
		margin-top: 50px;
	}

	.content h1 {
		font-size: 5em!important;
		line-height: 120%;
	}

	.content h2 {
		font-size: 3em!important;
		line-height: 150%;
	}

	.content li {
		font-size: 1.2em;
	}

	.left {
		display: block;
		position: relative;
		width: 100%;
		height: 90vh;
	}

	.right {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
	}



}

@media (max-width: 700px){

	.pic {
		left: 5%;
		top: 15%;
		margin: 0 auto;
		width: 80%;
	}

	.text {
		top: 40%;
		left: 15%;
	}

	.text p {
		padding: 20px;
	}

	.content h1 {
		font-size: 2.5em!important;
		line-height: 130%;
	}

	.content h2 {
		font-size: 1.5em!important;
		line-height: 140%;
	}

	.content li {
		font-size: 1.2em;
	}

	.left {
		display: block;
		position: relative;
		width: 100%;
		height: 70vh;
	}

	.right {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
	}

	.content {
		margin-top: 50px;
	}

	.content p, .content h1, .content h2, .content h3, .content h4, .content ul, .content ol, .content li {
		padding-left: 20px;
		padding-right: 20px;
	}
}


