html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

body {
	font-family:'lato', sans-serif;
}

/*** margins ***/

.mb100 {margin-bottom:100px;}

.mb75 {margin-bottom:75px;}

.mb50 {margin-bottom:50px;}

.mb30 {margin-bottom:30px;}

.mb25 {margin-bottom:25px;}

.mb10 {margin-bottom:10px;}

/* zero */

.mt5 {margin-top:5px;}

.mt10 {margin-top:10px;}

.mt20 {margin-top:20px;}

.mt25 {margin-top:25px;}

.mt30 {margin-top:30px;}

.mt40 {margin-top:40px;}

.mt50 {margin-top:50px;}

.mt75 {margin-top:75px;}

.mt100 {margin-top:100px;}

.mt150 {margin-top:150px;}

.mt200 {margin-top:200px;}


/*** color ***/

.orange {background-color:#FF5947;}

.yellow {background-color:#FFAE53;}

.green {background-color:#6AB084;}

.teal {background-color:#008586;}

.dark-blue {background-color:#0E2F3F;}

.white {background-color:#fff;}

.reverse {color:#fff;}

.grey-text {color:#666;}


/*** content ***/

.text {
	width:100%;
	padding:40px 0px;
	border-bottom:3px solid #FFAE53;
}

.text p {
	font-family: 'Droid Serif', serif;
	font-weight:400;
	font-style: italic;
	font-size:1.3em;
	margin:0 auto;
	width:50%;
}

.boxes {
    height:80vh;
    width:100%;
    position:relative;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    z-index:2;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align:center;
    overflow:hidden;
}

.boxes-1 {
	background-image:url('assets/eater-background.png');
}

.boxes-2 {
	background-image:url('assets/max-headroom.png');
}

.boxes-3 {
	background-image:url('assets/racked-1.png');
}

.boxes-4 {
	background-image:url('http://apps.voxmedia.com/theverge/comcast-name-generator/bg.gif');
	background-repeat:repeat;
	background-size:initial;
	background-attachment:fixed;
}

.boxes-5 {
	background-image:url('https://d22d7v2y1t140g.cloudfront.net/m_1785304_oCjtHkt2bPcv.jpg');
	height:100vh;
	background-attachment: fixed;
}

.boxes-overlay {
	content: ' ';
    display: block;
    position: absolute;
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
    z-index:-1;
    opacity: 0.5;
    background:#000;
    /*-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
	transition:.5s;*/
}

a:hover .boxes .boxes-overlay {
	content: ' ';
    display: block;
    position: absolute;
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
    z-index:-1;
    opacity: 0.3;
    background:#000;
}


 a:hover .boxes-overlay {
	content: ' ';
    display: block;
    position: absolute;
    top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
    z-index:-1;
    opacity: 0.4;
    background:#000;
}

.content {
	top:50%;
	display:block;
	color:#fff;
	position:relative;
	margin:0 auto;
	width:430px;
	text-align:left;
}

.content h2 {
	font-family:'arvo', sans-serif;
	font-weight:400;
	font-style: italic;
	font-size:2em;
	display:inline-block;
	padding:5px;
	font-weight:900;
	text-transform: uppercase;
	letter-spacing:1px;
}

.content p {
	font-family: 'lato', sans-serif;
	font-size:1em;
	padding:5px;
	letter-spacing:1px;
}

.content a:hover {
	color:#FF5947;
}


.hero {
	width:100%;
	padding:225px 0;
	background-image:url('assets/glasses-v15.png');
	background-attachment:fixed;
}

.hero div {width:900px; margin:0 auto;}

.hero h1:nth-child(2) {margin-top:-20px;}

h1 {
	font-family:'arvo', sans-serif;
	font-size:5em;
	display:inline-block;
	font-weight:700;
	padding:10px;
	text-transform: uppercase;
	font-style: italic;
}

.hero h3 {
	font-family: 'lato', sans-serif;
	font-weight:600;
	font-size:0.9em;
	color:#FFAE53;
	display:block;
	padding:5px;
	text-transform: uppercase;
	letter-spacing:1px;
	text-align:left;
}

@media (max-width: 1000px) {
	h1 {
		font-size:4em;
	}

	.hero h1:nth-child(2) {
		margin-top:-15px;
	}

	.hero div {
		width:720px;
	}
}

@media (max-width: 740px) {
	h1 {
		font-size:3em;
	}

	.hero h1:nth-child(2) {
		margin-top:-15px;
	}

	.hero div {
		width:550px;
	}
}

@media (max-width: 550px) {
	h1 {
		font-size:2em;
		padding:5px;
	}

	.hero h1:nth-child(2) {
		margin-top:-5px;
	}

	.hero div {
		width:400px;
	}

	.boxes {
		height:60vh;
	}

	.boxes-5 {
		height:100vh;
	}

	.boxes h2 {
		font-size:1.2em;
		padding:5px;
	}

	.boxes h3 {
		font-size:0.8em;
	}

	.content {
		width:340px;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size:1.5em;
		padding:5px;
	}

	.hero h1:nth-child(2) {
		margin-top:-5px;
	}

	.hero div {
		max-width:300px;
		width:90%;
	}

	.content {
		max-width:300px;
		width:90%;
	}
}

@media (max-width: 300px) {
	h1 {
		font-size:1.2em;
		padding:5px;
	}

	.hero h1:nth-child(2) {
		margin-top:-5px;
	}

	.hero div {
		max-width:250px;
		width:90%;
	}

	.content {
		max-width:250px;
		width:90%;
	}
}