.next {
	border:5px solid #18a984;
}

.next:hover {
	border:5px solid #18a984;
	color:#18a984;
}

li:before {
    content: "• ";
    color: #18a984; /* or whatever color you prefer */
}

/*** stripes ***/

.stripes-top:before {
  background-color:#18a984;
  width:100%;
}

.stripes-right:before {
  background-color:#18a984;
}

.stripes-bottom:after {
  background-color:#18a984;
}

/*** breakdown of a story ***/

.special-column {
	margin-top:-30px;
	margin-right:10%;
	width:50%;
	padding:2%;
	position:relative;
	float:right;
}

.beginning {
	padding-left:30px;
	padding-top:5px;
	border-left:2px solid #18a984;
}

.middle {
	padding-left:30px;
	padding-top:5px;
	border-left:2px solid #1386c8;
}

.end {
	padding-left:30px;
	padding-top:5px;
	border-left:2px solid #f74441;
}

.explanation {
	margin-left:-61%;
	float:left;
	width:50%;
	margin-bottom:10px;
	position:relative;
}

.beginning .explanation h5 {
	color:#18a984;
}

.middle .explanation h5 {
	color:#1386c8;
}

.end .explanation h5 {
	color:#f74441;
}

@media (max-width: 800px) {
	.explanation {
		float:left;
		margin:-5px 0px 10px -30px;
		width:102%;
		position:relative;
	}

	.beginning .explanation {
		background-color:rgba(24,169,132,0.1);
		padding:7px 10px 5px 10px;
	}

	.middle .explanation {
		background-color:rgba(19,133,199,0.1);
		padding:7px 10px 5px 10px;
	}

	.end .explanation {
		background-color:rgba(247,68,65,0.1);
		padding:7px 10px 5px 10px;
	}


	.beginning .explanation p, .middle .explanation p, .end .explanation p {
		margin:0px;
	}

	.beginning .explanation p:nth-child(2), .middle .explanation p:nth-child(2), .end .explanation p:nth-child(2) {
		margin-top:10px;
	}

	.special-column {
		margin-top:-10px;
		margin-left:10%;
		width:76%;
		padding:2%;
		position:relative;
		float:left;
	}
}


/*** i broke everything ***/

.tilt-top {
  position: absolute;
  top:0px;
  width:100%;
  -webkit-transform: skewy(-2deg);
  -ms-transform: skewy(-2deg);
  -moz-transform: skewy(-2deg);
  -o-transform: skewy(-2deg);
  transform: skewy(-2deg);
  z-index:-5;
}

.tilt-bottom {
  position: absolute;
  top:2500px;
  width:100%;
  -webkit-transform: skewy(-2deg);
  -ms-transform: skewy(-2deg);
  -moz-transform: skewy(-2deg);
  -o-transform: skewy(-2deg);
  transform: skewy(-2deg);
  z-index:-2;
  margin-bottom:250px;
}

.width100 {
	width:100%;
}

@media (max-width: 1000px) {
	.tilt-bottom {
	  top:2900px;
	}
}

@media (max-width: 800px) {
	.tilt-bottom {
	  top:2900px;
	}
}

@media (max-width: 650px) {
	.tilt-bottom {
	  top:3100px;
	}
}

@media (max-width: 550px) {
	.tilt-bottom {
	  top:3500px;
	}
}

@media (max-width: 450px) {
	.tilt-bottom {
	  top:4000px;
	}
}