html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

.container {
	margin:80px 0px;
}

.body { 
	max-width:1060px;
	width:90%;
	margin:0 auto; 
} 

.right-column { 
	width:300px; 
	float:right;  
	margin-top:50px;
}

.left-column { 
	margin-right:320px; 
	margin-bottom:50px;
	margin-top:50px;
}

.item {
	width:47%;
	min-width:275px;
	height:340px;
	background-color:#f1f1f1;
	margin:1%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
}

.ad {
	width:47%;
	min-width:275px;
	height:340px;
	margin:1%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	background-image:url('http://adsimages.pinktriangle.ca/c58b2366d9d3be808a02b8774f384b21.gif');
	background-position:center;
	background-repeat:no-repeat;
	background-size:300px;
}

.rail h5 {
	font-family:"adelle";
	font-size:1.375em;
	color:#fff;
	background-color:#f1c141;
	text-transform:uppercase;
	margin-left:10px;
	padding:1px 5px;
	display:inline;
}

.rail h5:hover {
	opacity:0.7;
	cursor:pointer;
}

.rail .stream {
	background-color:#f2f2f2;
	padding:10px 20px;
	margin:4px 0px;
}

.rail {
	width:300px;
}

.rail .stream li {
	font-family:"franklin-gothic-urw";
	font-size:1em;
	line-height:1.1em;
	margin:15px 0px;
}

.rail .stream li a:hover {
	color:#999;
	cursor:pointer;
}

hr {
	margin:50px 30px;
}

.more h5 {
	font-family:"franklin-gothic-urw";
	font-size:0.9em;
	color:#fff;
	background-color:#f1c141;
	text-transform:uppercase;
	margin:-5px 10px 0px 10px;
	padding:2px 5px;
	display:inline;
	float:right;
}

.more h5:hover {
	opacity:0.7;
	cursor:pointer;
}

.right-column .ad {
	width:300px;
	height:250px;
	background-image:url('http://adsimages.pinktriangle.ca/c4b063066013aa69294acfe253031cd3.jpg');
	margin:50px 0px;
}

.section-hed {
	font-family:"franklin-gothic-urw";
	font-size:1em;
	color:#fff;
	background-color:#2f5373;
	text-transform:uppercase;
	padding:1px 5px;
	display:inline;
}

.section-hed:hover {
	opacity:0.7;
	cursor:pointer;
}

.section-hed a:hover {
	text-decoration:underline;
}

.ad3 {
	width:970px;
	height:90px;
	background-image:url('http://www.mbaworld.com/~/media/Files/Events/2014/Autumn%20MBA%20Fair/AMBA-Fair-Sept-2014-970x90-Super-Leaderboard-Final.ashx');
	margin:0 auto;
}

@media (max-width:1000px) {
	.item {
		width:100%;
	}

	.ad {
		width:100%;
	}

	.ad3 {
		width:728px;
	}
}

@media (max-width:786px) {
	.right-column {
		display:none;
	}

	.left-column {
		margin:50px 0px;
	}
}