/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}a {text-decoration:none;color:inherit;}

/*orange #f25d50
font-family: "adelle";
font-family: "franklin-gothic-urw";
*/

body {
}

.content {
	max-width:80%;
	max-width:1080px;
	margin:0 auto;
	display:block;
}

/******************
** homepage hero **
*******************/

.homepage {
	width:100%;
}

.hero .image {
	width:100%;
	height:65vh;
	background-image:url('http://i.huffpost.com/gen/1398734/thumbs/o-GAY-KISSING-facebook.jpg');
	background-size:100%;
	background-position:center;
	display:block;
}

.hero .content {
	margin-top:-30px;
}

.hero .content:hover, .hero .content:focus {
	cursor:pointer;
}

.hero h1 {
	font-family: "adelle";
	font-size:3.750em;
	line-height:1.3em;
	color:#fff;
	background-color:#f25d50;
	display:inline;
}

.hero h1:hover, .hero h1:focus {
	background-color:#f68e84;
	cursor:pointer;
}

.hero h2 {
	font-family: "franklin-gothic-urw";
	font-weight:400;
	font-size:1.5em;
	margin:20px 0px;
}

.hero h2:hover,.hero h2:focus {
	color:#999;
	cursor:pointer;
}

.hero .byline {
	font-family: "franklin-gothic-urw";
	font-weight:400;
	font-size:1em;
	font-style:italic;
}

.homepage .hero .byline a {
	color:#f25d50;
}

.homepage .hero .byline a:hover, .homepage .hero .byline a:focus {
	text-decoration:underline;
}

.river {
	margin:60px 0px 0px 0px;
}

/*******************
** homepage story **
********************/

.hpel {
	display:inline-block;
	vertical-align:top;
}

.hpel:first-child, .hpel:nth-child(2) {
	margin-right:30px;
}

.hp-story {
	width:345px;
	border-bottom:1px solid #000;
	padding-bottom:30px;
	margin-bottom:70px;
}

.hp-story:hover, .hp-story:focus {
	cursor:pointer;

}

.river .image {
	width:100%;
	height:192px;
	background-image:url('http://dailyxtra.com/sites/default/files/styles/440px_wide/public/Gay_Pride_Madrid_2013_-_130706_202133_1.jpg?itok=Ds8PL5PO');
	background-size:100%;
	background-position:center;
	display:block;
	margin:2px 0px 0px 0px;
}

.river .image:hover {
	opacity:0.8;
}

.section-hed {
	font-family:"franklin-gothic-urw";
	font-size:1em;
	color:#fff;
	background-color:#29b7df;
	text-transform:uppercase;
	margin-left:10px;
	padding:1px 5px;
	display:inline;
}

.section-hed:hover {
	opacity:0.7;
	cursor:pointer;
}

.section-hed a:hover {
	text-decoration:underline;
}

.hp-story h1 {
	font-family:"franklin-gothic-urw-cond";
	font-size:1.875em;
	font-weight:500;
	margin:10px 0px;
}

.hp-story p {
	font-family:"calluna";
	font-size:1em;
	line-height:1.250em;
}

.hp-story p:hover, .hp-story h1:hover, .hp-story p:focus, .hp-story h1:focus {
	color:#999;
}


/*********************
** homepage feature **
**********************/

.hp-feature {
	width:345px;
}

.hp-feature {
	height:340px;
	background-image:url('http://dailyxtra.com/sites/default/files/styles/440px_wide/public/XT784_BDSM_3344.jpg?itok=nw3Uqxvl');
	background-size:cover;
	background-color: #999;
  	background-blend-mode: multiply;
	background-position:center;
	display:block;
	margin:2px 0px 0px 0px;
	position:relative;
}


.hp-feature h1 {
	font-family:"franklin-gothic-urw-cond";
	font-size:2.750em;
	color:#fff;
	font-weight:700;
	z-index:100;
	position:absolute;
	bottom:10px;
	left:10px;
}

.hp-feature:hover, .hp-feature:focus {
	background-color:#f3f3f3;
	cursor:pointer;
}


/******************
** rail elements **
*******************/

.rail h5 {
	font-family:"adelle";
	font-size:1.375em;
	color:#fff;
	background-color:#f1c141;
	text-transform:uppercase;
	margin-left:10px;
	padding:1px 5px;
	display:inline;
}

.rail h5:hover {
	opacity:0.7;
	cursor:pointer;
}

.rail .stream {
	background-color:#f2f2f2;
	padding:10px 20px;
	margin:4px 0px;
}

.rail {
	width:300px;
}

.rail .stream li {
	font-family:"franklin-gothic-urw";
	font-size:1em;
	line-height:1.1em;
	margin:15px 0px;
}

.rail .stream li a:hover {
	color:#999;
	cursor:pointer;
}

hr {
	margin:50px 30px;
}

.more h5 {
	font-family:"franklin-gothic-urw";
	font-size:0.9em;
	color:#fff;
	background-color:#f1c141;
	text-transform:uppercase;
	margin:-5px 10px 0px 10px;
	padding:2px 5px;
	display:inline;
	float:right;
}

.more h5:hover {
	opacity:0.7;
	cursor:pointer;
}


.article .rail {
	float:right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/dailyxtra\/sites\/all\/themes\/dx\/sass\/custom\/_blocks\.scss}line{font-family:\00003484}}
#block-quicktabs-event-listing-pages .quicktabs-wrapper {
  background-color: #f2f2f2;
  display: block;
  width: auto;
  padding: 17px 20px 20px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/dailyxtra\/sites\/all\/themes\/dx\/sass\/custom\/_blocks\.scss}line{font-family:\00003491}}
#block-quicktabs-event-listing-pages .quicktabs-wrapper .item-list ul {
  margin: 0;
  padding: 0 0 5px 0;
  border-bottom: solid 1px #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/dailyxtra\/sites\/all\/themes\/dx\/sass\/custom\/_blocks\.scss}line{font-family:\00003496}}
#block-quicktabs-event-listing-pages .quicktabs-wrapper .item-list ul li {
  font-family: "franklin-gothic-urw", sans-serif;
  text-transform: uppercase;
  font-size: 0.750em;
  padding-right: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/dailyxtra\/sites\/all\/themes\/dx\/sass\/custom\/_blocks\.scss}line{font-family:\00003502}}
#block-quicktabs-event-listing-pages .quicktabs-wrapper .item-list ul li a {
  text-decoration: none;
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/dailyxtra\/sites\/all\/themes\/dx\/sass\/custom\/_blocks\.scss}line{font-family:\00003508}}
#block-quicktabs-event-listing-pages .quicktabs-wrapper .item-list ul li.active {
  border-bottom: solid 1px #000;
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/dailyxtra\/sites\/all\/themes\/dx\/sass\/custom\/_blocks\.scss}line{font-family:\00003512}}
#block-quicktabs-event-listing-pages .quicktabs-wrapper .item-list ul li.active a {
  color: #000;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/dailyxtra\/sites\/all\/themes\/dx\/sass\/custom\/_blocks\.scss}line{font-family:\00003518}}
#block-quicktabs-event-listing-pages .quicktabs-wrapper .item-list ul li.last {
  padding-right: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/dailyxtra\/sites\/all\/themes\/dx\/sass\/custom\/_blocks\.scss}line{font-family:\00003522}}
#block-quicktabs-event-listing-pages .quicktabs-wrapper .item-list .ajax-progress-throbber {
  display: none;
}

/*****************
** article page **
******************/

.article .section-hed {
	margin:0px;
}

.article h1 {
	font-family:"franklin-gothic-urw-cond";
	font-size:4.375em;
	font-weight:600;
	letter-spacing:-1;
	margin:20px 0px;
}

.article h2 {
	font-family:"franklin-gothic-urw";
	font-size:1.500em;
	margin:20px 0px;
	font-weight:300;
}

.article .byline {
	font-family: "franklin-gothic-urw";
	font-weight:300;
	font-size:1em;
}

.article .byline a {
	color:#f25d50;
	font-weight:600;
	text-transform:uppercase;
}

.article .byline a:hover, .article .byline a:focus {
	text-decoration:underline;
}

.art {
	margin:20px 0px 30px 0px;
	width:725px;
}

.art img {
	margin-bottom:2px;
	width:725px;
}

.art .caption {
	font-family:"franklin-gothic-urw";
	font-size:0.875em;
	line-height:1.250em;
	color:#666666;
}

.credit {
	font-weight:600;
}

.credit a:hover {
	text-decoration:underline;
}

.story-body {
	width:675px;
	margin:0px 0px 60px 50px;
}

.story-body p {
	font-family:"calluna";
	font-size:1.125em;
	line-height:1.750em;
	margin:15px 0px;
}

/*running into challenges here, depending on the letter*/
.story-body p:first-child:first-letter { 
	font-family: "franklin-gothic-urw";
	font-size:4.5em;
	font-weight:600;
	color: #666;
	margin:18px 0px 0px -50px;
	float: left;  }

.story-body blockquote {
	font-family:"franklin-gothic-urw-cond";
	font-weight:500;
	font-style:italic;
	color:#666;
	font-size:1.750em;
	line-height:1.250em;
	margin:5px 30px 0px -50px;
	width:225px;
	display:inline-block;
	float:left;
}


/*****************
** feature page **
******************/

.feature .hero {
	background-image:url('http://dailyxtra.com/sites/default/files/styles/stand_alone_slide_show_big/public/multiple/XT784_BDSM_3344.jpg?itok=3RA9cPmQ');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	width:100%;
	height:95vh;
}

.feature .hero-hed {
	background-color:#f25d50;
	width:100%;
	padding:40px 0px;
	text-align:center;
	color:#fff;
}

.hero-hed h1 {
	font-family:"adelle";
	font-size:6.00em;
	line-height:1.300em;
	max-width:60%;
	margin:0 auto;
}

.hero-hed h2 {
	font-family:"franklin-gothic-urw";
	font-size:1.500em;
	font-weight:300;
	margin:20px 0px;
}

.feature .byline {
	font-family:"franklin-gothic-urw";
	font-size:1em;
	font-weight:300;
	font-style:italic;
	color:#f25d50;
	text-align:center;
	margin:80px 0px;
}

.feature .byline a:hover {
	text-decoration:underline;
}

.feature-body {
	width:100%;
	margin:0 auto;
}

.feature-body p {
	font-family:"calluna";
	font-size:1.250em;
	line-height:2em;
	padding:15px 0px;
	margin:0 auto;
	max-width:730px;
}

.feature-body p a {
	color:#f25d50;
}

.feature-body p a:hover {
	text-decoration:underline;
}

.feature-body p:first-of-type {
	font-family:"calluna";
	font-size:1.750em;
	line-height:2em;
	padding:20px 0px;
	margin-bottom:40px;
	border-top:1px solid #f25d50;
	border-bottom:1px solid #f25d50;
	}

.feature-body p:first-child:first-letter {
	font-family:"adelle";
	font-size:6.750em;
	padding:60px 7px 0px 0px;
	font-weight:600;
	color:#facecb;
	float:left;
}


.feature-body .art-right, .feature-body .art-left {
	width:300px;
}

.art-right img, .art-left img {
	width:100%;
}

.feature-body .art-left {
	float:left;
	margin:5px 20px 5px 0px;
}

.feature-body .art-right {
	float:right;
	margin:5px 0px 5px 20px;
}

.feature-body .art {
	width:100%;
}

.art img {
	width:100%;
}

.feature-body h1 {
	font-family:"franklin-gothic-urw";
	font-size:1.875em;
	color:#f25d50;
	font-weight:600;
	text-transform:uppercase;
	margin:0 auto;
	max-width:730px;
}

.feature-body blockquote {
	font-family:"franklin-gothic-urw-cond";
	font-size:2.500em;
	line-height:1.2em;
	letter-spacing:-0.5;
	font-style:italic;
	color: #f25d50;
	margin:5px 0px;
}

.art blockquote {
	text-align:center;
}

.feature {
	margin-bottom:100px;
}


/***********
** footer **
************/

.footer {
	width:100%;
	background-color:#999;
	color:#fff;
	margin:0 auto;

}

.footer .main {
	width:1080px;
	margin:0 auto;
	padding:20px 0px;
	font-family: "franklin-gothic-urw";
	font-size:0.875em;
	line-height:1.175em;

}

.footer ul {
	font-family: "franklin-gothic-urw";
	display:inline-block;
	width:16%;
	padding:0px 1%;
	margin:0 auto;
	vertical-align:top;
}

.footer ul:first-child {
	font-weight:600;
	text-align:right;
	vertical-align:distribute;
}

.footer ul:nth-child(2) {
	border-left:1px solid #fff;
}

.footer ul li:first-child {
	font-weight:600;
}

.footer ul li {
	padding:2px 0px;
}

.footer ul li a:hover {
	text-decoration:underline;
}

.footer .copyright {
	background-color:#2f5373;
	font-family: "franklin-gothic-urw";
	font-size:0.875em;
	color:#fff;
	padding:10px 0px;
	text-align:center;
	width:100%;
}

.footer .copyright a:hover {
	text-decoration:underline;
}